In [9]:
import time

numbers = list(range(1, 11))

for number in numbers:
    print(number)
    # time.sleep(1)

1
2
3
4
5
6
7
8
9
10

In [11]:
alphabet = ['a', 'b', 'c', 'd', 'e']

for letter in alphabet:
    print(letter)

a
b
c
d
e

In [14]:
word = 'abcdefghijk'

for character in word:
    print(character)
    time.sleep(0.5)

a
b
c
d
e
f
g
h
i
j
k

In [27]:
numbers = [1, 2, 3, 4, 5]
letters = ['a', 'b', 'c']

letter_numbers = []

for number in numbers:
    for letter in letters:
        letter_numbers.append(f'{number}{letter}')

print(letter_numbers)

spreads = ['butter', 'jam', 'peanut butter']
toppings = ['ham', 'cheese', 'sardines']
sandwich_fillings = []

for spread in spreads:
    print(spread)
    for topping in toppings:
        sandwich_fillings.append(f'{spread} & {topping}')
    print(sandwich_fillings)

['1a', '1b', '1c', '2a', '2b', '2c', '3a', '3b', '3c', '4a', '4b', '4c', '5a', '5b', '5c']
butter
['butter & ham', 'butter & cheese', 'butter & sardines']
jam
['butter & ham', 'butter & cheese', 'butter & sardines', 'jam & ham', 'jam & cheese', 'jam & sardines']
peanut butter
['butter & ham', 'butter & cheese', 'butter & sardines', 'jam & ham', 'jam & cheese', 'jam & sardines', 'peanut butter & ham', 'peanut butter & cheese', 'peanut butter & sardines']

In [37]:
dict_1 = {'key 1':1,
          'key 2':2,
          'key 3':3}

print(dict_1.items())

for key, value in dict_1.items():
    print(f'the key is {key}, the value is {value}')

dict_items([('key 1', 1), ('key 2', 2), ('key 3', 3)])
the key is key 1, the vlaue is 1
the key is key 2, the vlaue is 2
the key is key 3, the vlaue is 3

In [47]:
numbers = [1, 2, 3]
letters = ['a', 'b', 'c']
animals = ['cat', 'dog', 'rat']

zipped_stuff = zip(numbers, letters, animals)
#print(list(zipped_stuff))

for num, let, an in zipped_stuff:
    print(f' the number is: {num}, the letter is {let}')

 the number is: 1, the letter is a
 the number is: 2, the letter is b
 the number is: 3, the letter is c

In [53]:
import pandas as pd 

df = pd.DataFrame({'Numbers':numbers,
                   'Letters':letters,
                   'Animals':animals})

even_or_odd = lambda row: 'even' if row % 2 == 0 else 'odd'

df['Even or Odd'] = df['Numbers'].apply(even_or_odd)

df

   Numbers Letters Animals Even or Odd
0        1       a     cat         odd
1        2       b     dog        even
2        3       c     rat         odd

In [60]:
students2 = {'Bob':['pilot', 5],
            'Niles':['driver', 7],
            'Frida':['doctor', 12],
            'Will':['cook', 4],
            'Jeremy':['artist', 8]}


for name, info in students2.items():
    job_title = info[0]
    service_years = info[1]
    print(f'{name} has been a {job_title} for {service_years} years.')

for key in students2.keys():
    job_title = students2[key][0]
    print(job_title)

# sort_dict2 = dict(sorted(students2.items()))
# # print(f"My name is {z} and I have been a {x} for {y} years.")
# for value1, value2 in sort_dict2.values():
# # this %s technique is in module_3.ipynb
#         print(('My name is Henry,'),('and I have been the %s' % value1),('for %s years' % value2))

pilot
driver
doctor
cook
artist

In [6]:
import pandas as pd

In [12]:
csv_1 = 'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv'
csv_2 = 'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv'
filenames = [csv_1, csv_2]

dfs = {}

for i, v in enumerate(filenames):
    dfs[i] = pd.read_csv(v)

print(dfs)

{0:      Unnamed: 0        LAchildID            UPN  FormerUPN  UPNunknown  \
0             0  RND000215205141  A850728973744        NaN         NaN
1             1  RND000824303014  A141396438491        NaN         NaN
2             2  RND000750143123  A929946861554        NaN         NaN
3             3  RND000909164501  A612330267292        NaN         NaN
4             4  RND000382171815  A604459366806        NaN         NaN
..          ...              ...            ...        ...         ...
327         327  RND000112711501  A465246916125        NaN         NaN
328         328  RND000513120794  A540014111973        NaN         NaN
329         329  RND000541643134  A549582689058        NaN         NaN
330         330  RND000404939452  A889492349196        NaN         NaN
331         331  RND000589802835  A877624860226        NaN         NaN

    PersonBirthDate ExpectedPersonBirthDate  GenderCurrent PersonDeathDate
0        2019-12-06                     NaN              1             NaN
1        2011-04-27                     NaN              9             NaN
2        2017-06-06              2019-12-06              1             NaN
3        2014-10-03                     NaN              0             NaN
4        2019-09-25                     NaN              2             NaN
..              ...                     ...            ...             ...
327      2010-07-07                     NaN              2             NaN
328      2018-08-14                     NaN              2             NaN
329      2021-12-09                     NaN             51             NaN
330      2013-07-23                     NaN              2             NaN
331      2021-10-25                     NaN              9             NaN

[332 rows x 9 columns], 1:      Unnamed: 0        LAchildID Ethnicity
0             0  RND000215205141      WIRT
1             1  RND000824303014      WROM
2             2  RND000750143123      AOTH
3             3  RND000909164501      MWBC
4             4  RND000382171815      APKN
..          ...              ...       ...
327         327  RND000112711501      WOTH
328         328  RND000513120794      WROM
329         329  RND000541643134      BCRB
330         330  RND000404939452      AIND
331         331  RND000589802835      WBRI

[332 rows x 3 columns]}