In [9]:
import time

numbers = list(range(1, 11))

for number in numbers:
    print(number)
    # time.sleep(1)

1
2
3
4
5
6
7
8
9
10

In [11]:
alphabet = ['a', 'b', 'c', 'd', 'e']

for letter in alphabet:
    print(letter)

a
b
c
d
e

In [14]:
word = 'abcdefghijk'

for character in word:
    print(character)
    time.sleep(0.5)

a
b
c
d
e
f
g
h
i
j
k

In [27]:
numbers = [1, 2, 3, 4, 5]
letters = ['a', 'b', 'c']

letter_numbers = []

for number in numbers:
    for letter in letters:
        letter_numbers.append(f'{number}{letter}')

print(letter_numbers)

spreads = ['butter', 'jam', 'peanut butter']
toppings = ['ham', 'cheese', 'sardines']
sandwich_fillings = []

for spread in spreads:
    print(spread)
    for topping in toppings:
        sandwich_fillings.append(f'{spread} & {topping}')
    print(sandwich_fillings)

['1a', '1b', '1c', '2a', '2b', '2c', '3a', '3b', '3c', '4a', '4b', '4c', '5a', '5b', '5c']
butter
['butter & ham', 'butter & cheese', 'butter & sardines']
jam
['butter & ham', 'butter & cheese', 'butter & sardines', 'jam & ham', 'jam & cheese', 'jam & sardines']
peanut butter
['butter & ham', 'butter & cheese', 'butter & sardines', 'jam & ham', 'jam & cheese', 'jam & sardines', 'peanut butter & ham', 'peanut butter & cheese', 'peanut butter & sardines']

In [37]:
dict_1 = {'key 1':1,
          'key 2':2,
          'key 3':3}

print(dict_1.items())

for key, value in dict_1.items():
    print(f'the key is {key}, the value is {value}')

dict_items([('key 1', 1), ('key 2', 2), ('key 3', 3)])
the key is key 1, the vlaue is 1
the key is key 2, the vlaue is 2
the key is key 3, the vlaue is 3

In [47]:
numbers = [1, 2, 3]
letters = ['a', 'b', 'c']
animals = ['cat', 'dog', 'rat']

zipped_stuff = zip(numbers, letters, animals)
#print(list(zipped_stuff))

for num, let, an in zipped_stuff:
    print(f' the number is: {num}, the letter is {let}')

 the number is: 1, the letter is a
 the number is: 2, the letter is b
 the number is: 3, the letter is c

In [53]:
import pandas as pd 

df = pd.DataFrame({'Numbers':numbers,
                   'Letters':letters,
                   'Animals':animals})

even_or_odd = lambda row: 'even' if row % 2 == 0 else 'odd'

df['Even or Odd'] = df['Numbers'].apply(even_or_odd)

df

   Numbers Letters Animals Even or Odd
0        1       a     cat         odd
1        2       b     dog        even
2        3       c     rat         odd