In [10]:
num_1 = 1
num_2 = 10.0
sum_1_2 = num_1 + num_2
print(sum_1_2)

11

In [31]:
x = "10.0"
y = "5"
z = x + y
print(z)

10.05

In [ ]:
# In this cell, initialise two numeric variables and find their product 
# using the * operator for multiplication and assign this to a new variable.
# Print the new variable

# The radius of a circle is 2, assume that Pi is 3.14. Assign both of these 
# to suitably named variables and find the area of the circle.
# We can find the area of a circle by finding the product of Pi with the radius squared.
# You probably don't know how to square a number in Python yet, so use Google to work it out!

In [29]:
x = 3
y = 10
z = x * y
print(z)

r = 2
pi = 3.14
area = pi * r ** 2
print(area)

30
12.56

In [35]:
name = "Will"
job = "teacher" 
longer_string = "My name is " + name + " and I am the " + job
print(longer_string)

phrase = f"My name is {name} and I am the {job}."
print(phrase)

My name is Will and I am the teacher
My name is Will and I am the teacher.

In [ ]:
# In this cell, initialise two appropriately named variables, one for your name and one for your job title.
# Next, combine them in an f string, assigned to a different, appropriately named variable.
# Finally, print the f string.

In [37]:
cin_plan = 200
total_pop = 15500

rp10k = (cin_plan / total_pop) * 10000
explanation = f"The rate of cin plans per 10k children is {rp10k}"
print(explanation)

The rate of cin plans per 10k children is 129.03225806451613

In [52]:
filename = "c://desktop/data/903_header.csv"
#print(filename)

substring = filename[10]
#print(substring)
# [start:stop:step]
substring_2 = filename[10:21]
#print(substring_2)

substring_3 = filename[-4:]
print(substring_3)

substring_4 = filename[17:-4]
long_prhase = f'The filename is: {substring_4}'
print(long_prhase)

# In this cell I've initialised a variable 'slice_this_phrase'. 
# On the next three lines, print the words dog, cat, and racoon seprately 
#using a slice from the beginning, a slice giving a range in the middle, and a slice from the end.
# This means one slice will involve [:n], one will involve [n1:n2], and one will involve [-n:].

slice_this_phrase = 'dog cat racoon'

Slice_this_phrse = 'dog cat racoon'
animal_1 = Slice_this_phrse [0:3]
animal_2 = Slice_this_phrse [4:7]
animal_3 =  Slice_this_phrse [8:]
print(animal_1)
print(animal_2)
print(animal_3)

.csv
The filename is: 903_header
dog
cat
racoon

In [57]:
list_1 = [1, phrase, long_prhase, "hi"]
print(list_1)
print(type(list_1))

[1, 'reverse this phrase', 'The filename is: 903_header']
<class 'list'>

In [65]:
colours = ['red', 'blue', 'green', 'purple']
print(colours)

['red', 'blue', 'green', 'purple']

In [82]:
colours = ['red', 'blue', 'green', 'purple']
# [start:stop:step]

colours.append(['teal', 'orange'])
print(colours[4])

more_colours = ["brown", "gold", "white"]
colours.extend(more_colours)
print(colours)

colours.append("red")

colours.remove('red')
print(colours)

['teal', 'orange']
['red', 'blue', 'green', 'purple', ['teal', 'orange'], 'brown', 'gold', 'white']
['blue', 'green', 'purple', ['teal', 'orange'], 'brown', 'gold', 'white', 'red']

In [74]:
my_string = 'Will said "some words"'

5

In [11]:
num_1 = 1
num_2 = 2.0
name = "Will"
list_1 = [1, 2, 3]
# print(type(name))

list_1.append([10, 11])
list_1.extend([3, 4, 5])
print(list_1)

list_index_individual = list_1[4]
print(list_index_individual)

list_slice = list_1[1::2]
print(list_slice)

list_2 = list(range(11))
print(list_2)

[1, 2, 3, [10, 11], 3, 4, 5]
3
[2, [10, 11], 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
num_2 = str(num_2)
num_2 = float(num_2)
num_2 = int(num_2)

print(type(num_2))

<class 'int'>

In [21]:
numbers_list = [2,3,4,5,1,6]
print(numbers_list)

numbers_list.sort(reverse=True)
print(numbers_list)

[2, 3, 4, 5, 1, 6]
[6, 5, 4, 3, 2, 1]

In [23]:
dict_1 = {'key1':'value1', 
          'key2':'value2'}
print(dict_1)

<class 'dict'>

In [26]:
will = {'Name':'Will',
        'Job title':'Teacher',
        'Hours':'Too many',
        'Salary':10}

colours_dict = {'Will':will,
                'Andy':['Purple', 'Blue'],
                'Annie':14,
                'Naiomi':{'Monday':'Red',
                        'Sunday':'Orange',
                        'Others':'Black'}}

restaurants = {'McDonalds':'Burger',
               'KFC':['Chicken wing', 'Chicken Burger', 'Mash with gravy'],
               'Local Hotel':{'Weekdays':'Gastro pub food',
                              'Weekends':'High tea'}}

# In this cell, make a dicitonary of some restaurants and the foods they sell, 

mcdo_food = restaurants['McDonalds']
print(mcdo_food)

restaurants['Kebab Shop'] = 'Kebabs'

print(restaurants)

Burger
{'McDonalds': 'Burger', 'KFC': ['Chicken wing', 'Chicken Burger', 'Mash with gravy'], 'Local Hotel': {'Weekdays': 'Gastro pub food', 'Weekends': 'High tea'}, 'Kebab Shop': 'Kebabs'}

In [31]:
mcdo_food = restaurants['McDonalds']
print(restaurants)
print(mcdo_food)

restaurants['Kebab Shop'] = 'Kebabs'

# print(restaurants.keys())
# print(restaurants.values())

# print(restaurants.items())

print('Kebab Shop' in restaurants)

# Using the key, print the values of one of the restaurants in your dicitonary.
# Add a new key:value pair to your dictionary, as above.
# Check whether 'mcdonalds' is a key in your dictionary, printing the answer.

dict_keys(['McDonalds', 'KFC', 'Local Hotel', 'Kebab Shop'])
dict_values(['Burger', ['Chicken wing', 'Chicken Burger', 'Mash with gravy'], {'Weekdays': 'Gastro pub food', 'Weekends': 'High tea'}, 'Kebabs'])
dict_items([('McDonalds', 'Burger'), ('KFC', ['Chicken wing', 'Chicken Burger', 'Mash with gravy']), ('Local Hotel', {'Weekdays': 'Gastro pub food', 'Weekends': 'High tea'}), ('Kebab Shop', 'Kebabs')])
True

In [1]:
import pandas as pd

filepath = 'https://raw.githubusercontent.com/data-to-insight/csc-validator-be-903/main/tests/fake_data/header.csv'

header_fake = pd.read_csv(filepath) 
# read an excel file pd.read_excel(<filepath>)

In [5]:
# print(header_fake.head(10))
# print(header_fake.tail(10))

print(header_fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2675 entries, 0 to 2674
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CHILD   2675 non-null   int64
 1   SEX     2675 non-null   int64
 2   DOB     2675 non-null   object
 3   ETHNIC  2675 non-null   object
 4   UPN     2675 non-null   object
 5   MOTHER  1 non-null      float64
 6   MC_DOB  1 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 146.4+ KB
None

In [8]:
# dict of list
d_1 = {'col1':[1, 2, 3],
       'col2':['A', 'B', 'C'],
       'col3':['foo', 'bar', 'baz']}

df_1 = pd.DataFrame(d_1)
print(df_1)

# list of dicts
df_2 = pd.DataFrame([
    {'column1':1,
    'column2':'A',
    'column3':'foo'},
    {'column1':2,
    'column2':'B',
    'column3':'bar'},
    {'column1':3,
    'column2':'C',
    'column3':'baz'},
    ])

print(df_2)

# Make sure you have Pandas imported as pd.
# Using dictionaries and the pd.DataFrame method (remember the capitals) make a dataframe 
# of a few employees at an imaginary company with the columns: name, salary, and job title.
# Name the dataframe something sensible.
# For a later exercise, ensure every employess has a first and last name seperated by a space.
# ALso ensure that the salaries are stored as strings but with no punctuation
# Print it!

staff = pd.DataFrame([
    {'Name':'Will Levack-Payne',
     'Salary':'10',
     'Job Title':'Teacher'},
     {'Name':'Annie Levack-Payne',
     'Salary':'8',
     'Job Title':'Head Teacher'},
    {'Name':'Andy Levack-Payne',
     'Salary':'7',
     'Job Title':'Trainee Teacher'},
     {'Name':'Naiomi Levack-Payne',
     'Salary':'18',
     'Job Title':'Sports coach'},
     {'Name':'Scout Dog',
     'Salary':'0',
     'Job Title':'Dog'}
])

print(staff)

   col1 col2 col3
0     1    A  foo
1     2    B  bar
2     3    C  baz
   column1 column2 column3
0        1       A     foo
1        2       B     bar
2        3       C     baz
                  Name Salary        Job Title
0    Will Levack-Payne     10          Teacher
1   Annie Levack-Payne      8     Head Teacher
2    Andy Levack-Payne      7  Trainee Teacher
3  Naiomi Levack-Payne     18     Sports coach
4            Scout Dog      0              Dog

In [12]:
print(staff.info())

print(staff.head(1))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       5 non-null      object
 1   Salary     5 non-null      object
 2   Job Title  5 non-null      object
dtypes: object(3)
memory usage: 248.0+ bytes
None
                Name Salary Job Title
0  Will Levack-Payne     10   Teacher
0    10
1     8
2     7
3    18
4     0
Name: Salary, dtype: object
                  Name        Job Title
0    Will Levack-Payne          Teacher
1   Annie Levack-Payne     Head Teacher
2    Andy Levack-Payne  Trainee Teacher
3  Naiomi Levack-Payne     Sports coach
4            Scout Dog              Dog

In [15]:
print(staff['Salary'])
print(staff[['Name', 'Job Title']])

staff['Salary'] = staff['Salary'].astype('int')
print(staff['Salary'].dtypes)

mean_salary = staff['Salary'].mean()
sum_salary = staff['Salary'].sum()
max_salary = staff['Salary'].max()
min_salary = staff['Salary'].min()

print(f'The mean salary is: {mean_salary}.')
print(f"The total of salaries is: {sum_salary}")
print(f'The max and min salaries respectively are {max_salary}, {min_salary}.')

int64
The mean salary is: 8.6.
The total of salaries is: 43
The max and min salaries respectively are 18, 0.