# Session 1
In Python, lots of things are done using variables. We can store data in variables in many ways, including individual items of data, lists of data, dictionaries, and dataframes. We can also store more complicated things like classes and operations, we won't worry about the complex things now though. Let's first of all look at how variables can store individual items of data, and some of the quirks of that.

In [ ]:
x = 5
y = 10
z = x + y
# print is a function that, for our simple purposes, will show you 
# in the terminal (or on the page in Jupyter) the data stored in a variable
print(z) 
j = y / x
print(j)
# printing the type of a variable tells us what data is stored in it, 
# floats are numbers with decimals
print(type(j)) 
j = int(j)
# we can also convert j to an integer, 
# and check its worked by printing its new type
print((type(j)))

In [ ]:
# In this cell, initialise two numeric variables and find their product 
# using the * operator for multiplication and assign this to a new variable.
# Print the new variable

# The radius of a circle is 2, assume that Pi is 3.14. Assign both of these 
# to suitably named variables and find the area of the circle.
# We can find the area of a circle by finding the product of Pi with the radius squared.
# You probably don't know how to square a number in Python yet, so use Google to work it out!

In [ ]:
# This is a string, we use a string to tell Python the data stored should be text, 
# not code or numbers. As will be seen, strings act differently to floats/ints
name = 'Will' 
print(type(name))
hobby = 'Running'
long_string = name + hobby # Notice this variable is names using snake case
print(long_string) # As we can see, addition of strings concats those strings
# The below is an 'f string' which allows us to insert variables INSIDE a string
phrase = f'My name is {name}, and I like {hobby}.' 
# String behaviour and f strings can be useful when we want to join up variables 
# of strings, really useful when making dynamic titles for visualisations
print(phrase)

In [ ]:
# In this cell, initialise two appropriately named variables, one for your name and one for your job title.
# Next, combine them in an f string, assigned to a different, appropriately named variable.
# Finally, print the f string.

#Make a variable for a string and one for a number, 
# Try and add them (not inside an f string) and see what happens

In [ ]:
# strings are interesting as we can easily select certain parts of them 
# by selecting a range in square brackets. When using square brackets to slice a range, 
# the number to the left is INCLUSIVE, the number to the right is EXCLUSIVE
# You'll notice this new string starts at y, why? In most instances, 
# most things in Pythonc ount from 0 as the first index location.
string_slice = phrase[1:10]
print(string_slice)
filename = 'heres_a_file.csv'
shortened_name = filename[:-4] # We can also start the count from the end of the string, 
# here -4 means I want my last character to be 4 from the end.
# When we don't put a number on one side of the colon, 
# it means 'take everything this side of the range', so string[4:] would mean take everything
# after the 4th character
print(shortened_name)

In [ ]:
# In this cell I've initialised a variable 'slice_this_phrase'. 
# On the next three lines, print the words dog, cat, and racoon seprately 
#using a slice from the beginning, a slice giving a range in the middle, and a slice from the end.
# This means one slice will involve [:n], one will involve [n1:n2], and one will involve [-n:].

slice_this_phrase = 'dog cat racoon'

Lets have a look at lists now. We can initialise a list by using square brackets and assigning them to a variable. We seperate elements of a list with commas. We can put pretty much whatever we want in a list: ints, strings, dictionaries, other lists, a whole range of things. A full list of list methods can be found here: https://docs.python.org/3/tutorial/datastructures.html

In [ ]:
# Even though there's nothing in here, it's a list, we can check by printing type(list_1)
list_1 = [] 
print(type(list_1))

colours_list = ['red', 'blue', 'green']
print(colours_list)

# The append method adds whatever is being appended to a list as one item in a list
colours_list.append('purple') 
print(colours_list)

extra_colours = ['turquoise', 'teal']
colours_list.append(extra_colours)
# You can see here it's appended the whole list extra_colours as one item in the list
print(colours_list) 

# Instead, we can extend a to have each element of a list as a new element in another list with the .extend() method
colours_list.extend(extra_colours)
print(colours_list)

# We can also access elements in a list the same way we can strings
print(colours_list[3:7]) 

# We can remove list elements using.remove
colours_list.remove('teal')
print(colours_list)

In [ ]:
# In this cell, make a list of a few foods and print it.
# Then extend the list with another food and print it.
# Next, make another list of foods, and use the extend method to 
# add those extra foods as individual elements of the list, and print it.
# Finally, remove and element from the list and print the final list.
# Remember to always use a suitable name for your lists!

In [ ]:
numbers_list = [2,3,4,5,1,6]
# we can sort lists too, here using a method
numbers_list.sort() 
print(numbers_list) 
numbers_list.sort(reverse=True)
print(numbers_list) 

# Here we sort a list using a function and returning it to a new variable
sorted_list = sorted([3,2,3,4,5]) 
print(sorted_list)

colours_list = ['red', 'blue', 'green', 'amber']
sorted_colours = sorted(colours_list, key=str.lower)
print(sorted_colours)

In [ ]:
# In this cell, use the sorted method on your final list of 
# foods to sort it alphabetically and print it.
# Now use the documentation here to sort in reverse order: 
# https://docs.python.org/3/library/functions.html#sorted

Now lets look at dictionaries. dictionaries may initially seem a little confusing, and not overly helpful, but they are an incredibly powerful tool. Dictionaries allow us to store things in key:value pairs, where, generally, the key is a string or a number, keys must be unique within a dictionary and must be immutable objects (objects that can't be changed, like lists), and the value is... pretty much whatever we want it to be. We build a list using curly brackets {}, seperating key:value pairs with colons, and entries with commas.

In [ ]:
favourite_colours = {'Will':'teal',
                     'Andy':['Purple', 'Green', 'Azure'],
                     'Annie':{'Mondays':'Red',
                              'Sundays':'Orange',
                              'Other days':'Black'}}
# Here you can see I've stored strongs, lists, and even entire dictionaries inside strings                              
print(favourite_colours) 
print(list(favourite_colours)) # list(d) will print the keys, in order from a dictionary
print(favourite_colours.items()) # Prints all key:value pairs
print(favourite_colours.keys()) # Prints all keys
print(favourite_colours.values()) # Prints all values

In [ ]:
# In this cell, make a dicitonary of some restaurants and the foods they sell, 
# print the items, keys, and values, have at least one have the value as a list.

In [ ]:
# We can access the values associated with a key by passing it between square brackets after the dictionary's name
print(favourite_colours['Will']) 

# We can also add/update key value pairs in a similar way
favourite_colours['Naiomi'] = 'Yellow' 
print(favourite_colours)

# We can check if a key is in a dict or not like so
print('Mo' in favourite_colours)

In [ ]:
# Using the key, print the values of one of the restaurants in your dicitonary.
# Add a new key:value pair to your dictionary, as above.
# Check whether 'mcdonalds' is a key in your dictionary, printing the answer.

## Group work for session 1
Make a dictionary which has the names of everyone in the group as keys, and job titles as the values, print it.
When everyone has a working version, work out how to get all of the values from the dictionary as a single list, and sort the new list alphabetically, assigned to a suitably named variable.

You have probably not used for loops before, and actually that is a topic for a later session, if you have used for loops, help guide rather than instruc the rest of your group. I would like you to use google as your main resource to work out how to use a for loop to print each set of keys/values from your dictionary on new lines, one line per loop, with the resulting form 'My name is <key> and my job is <value>'. The point of this exercise isn't the answer, the point of this exercise is learning how to use online resources to search for an answer and translate the answer from those resources into your own work.

# Session 2
Now we'll look at dataframes which are probably going to be the most powerful ways of storing, manipulating, and using data for us. Dataframes is one of the key ways of working with tabular data in Python. To use them, we need to import the package that has them to our workspace. It's called pandas. Every time we use the package, we'd have to tell Python we want to, bu calling 'pandas' but this is a bit long to do over and over, so the accepted way is to import pandas as pd, and we can use pd as short for pandas. This will become clear as we go.

Dataframes can be made in lots of ways, we can build them from scratch using things like lists and dictionaries, we can read in data from files like CSVs and Excel files, and we can even use extra packages like SQLAlchemy to query SQL databases directly into dataframes. For now, we'll build up our skills by hard coding them from scratch, first using dicitonaries. In this case, we will make a dictionary, with each key being a column, and all the values in lists being the values in that column per row.

In [ ]:
import pandas as pd

# Notice here we made a string, but the string had an apostrophe in, 
# to make sure the apostrophe was inside the string, we used double quotes
d = {"here's a column":['Val 1', 2, 'Val 3'], 
     "Here's another":[4, 5, 6],
     "and another":['foo', 'bar', 'baz']}

df_1  = pd.DataFrame(d)
print(df_1)

# Perhaps a more intuituve way of building a df, one dict per row
df_2 = pd.DataFrame([  
    {'letter':'A',
     'word':'Foo',
     'number':1},
     {'letter':'B',
     'word':'Bar',
     'number':2},
     {'letter':'C',
     'word':'Baz',
     'number':3},
])

print(df_2)

In [ ]:
# Make sure you have Pandas imported as pd.
# Using dictionaries and the pd.DataFrame method (remember the capitals) make a dataframe 
# of a few employees at an imaginary company with the columns: name, salary, and job title.
# Name the dataframe something sensible.
# For a later exercise, ensure every employess has a first and last name seperated by a space.
# Print it!

We will often want to interrogate data in dfs, a good way to start is by using the .info() method, .dtypes is also useful to find out what type of data is stored in a column. .head(n)/.tail(n) will print the top/bottom n rows respectively. A full list of Pandas methods can be found here: https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html

In [ ]:
print(df_2.info())
print(df_2.dtypes)
print(df_2.tail(1))

In [ ]:
# On seprate lines print the top line of your df using the head method, 
# print the .dtypes of your dataframe, and print the info.

In [ ]:
# See how it sums strings, exactly as we did earlier?
print(df_2.sum()) 
# You obviously can't take the mean of strings, so lets look at just the number column, we access using square braces
print(df_2['number'].mean()) 
# cumalative sum is also useful
print(df_2['number'].cumsum()) 
# Min and max. Notice we can access a column using . notation rather 
# than square braces if we want, though square braces is more common
print([df_2['number'].min(), df_2.number.max()])

In [ ]:
# Use the pandas methods from above to find and print the sum, mean, 
# minimum, and maximum salary values from your df.
# If it doesn't work, check you haven't input the salary values as strings instead of numbers.

This next cell introduces functions and conditionals briefly, don't worry too much about them, we'll go through them in depth in a later work sheet.

In [ ]:
# we can also perform actions on columns easily, for example, 
# multiplying each row in the number column by 3 to make a new column
df_2['product 3'] = df_2['number'] * 3 
print(df_2)

def multiple_of_3(x):
    if x % 3:
        return 'Yes'
    else:
        return 'No'

# mapping is really useful if we want to perform an action for every row that changes based on values in rows    
df_2['multiple of 3'] = df_2['number'].map(multiple_of_3) 
print(df_2)

In [ ]:
# Everyone at your imaginary company has had a pay rise, update the salary column to 
# reflect this by using the * operator by 1.07 and setting it equal to
# the same column. Print the new column using the square bracket method.
# use the .map method and the pre-written function on your dataframe to make a 
# new column indicating whose salary is above avergage (The average uk salary is Â£33,402). 

def above_average(x):
    if x > 33402:
        return 'Above avergage'
    if x == 33402:
        return 'Average'
    else:
        return 'Below average'

In [ ]:
# Here we're just making a larger dataframe to work from for examples going forward
df = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                   'Age first contact':[6,12,11,1,19],
                   'Gender':['M','m', 'F', '', 'F' ],
                   'Birthday':['01/01/2002', '02/02/2003', pd.NA, '03/03/2023', '06/01/2012'],
                   'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})

print(df)
print(df.info())

So, lets use this df to go though some key DF processes: making selections based on criteria, some basic data cleaning, and making sure data is of the right type

In [ ]:
# Making sure stuff is the right type: our dates are strings, we need them to be dates!
df['Birthday'] = pd.to_datetime(df['Birthday'])
# Now it's a datetime object, we can do a calculation to work out current ages!
print(df['Birthday'].dtypes) 

df['Age'] = pd.to_datetime('13/09/2023', dayfirst=True) - df['Birthday']
print(df['Age']) # It's now a time delta object, we want age in years!


import numpy as np
df['Age'] = df['Age'] / pd.Timedelta('365 days')
# Round, convert to integers, ignoring the error produced by the empty value for age
df['Age'] = df['Age'].round().astype('int', errors='ignore') 
print(df)

# Lets do an error check and take rows where first contact is an age older then their current age
error_df = df[df['Age first contact'] > df['Age']]
print(error_df) # We can see, based on our selection, child id5 has an error

In [ ]:
# Add a start date column to the dataframe of employees you made earlier,
# convert it to a datetime data type, and add a column for years worked.
# Use the .mean() method on the years worked column to calculate the average
# time people have worked for and assign this for a variable.
# Next, make a new dataframe, with an appropriate name, choosing only rows
# where the years worked value is greater than the average. 
# Tips:
# An easy way to make a new column and add values to it is to have the
# dataframe column and set it equal to a list of values you want, in order.
# For example 'df['numbers'] = [1, 2, 3, 4, 5]'. Make sure you have as
# many items in your list as you have rows in the dataframe.
# Make sure you add the start dates in your list as strings, all in the
# same format (eg dd/mm/yyyy).

We've converted to dates, calculated ages, and found a row with errors, lets do a little cleaning now.

In [ ]:
# Convert all gender values to lower case
df['Gender'] = df['Gender'].str.lower()
print(df)

# convert all cp plan? to lower... but we still need the right things in each column
df['CP Plan?'] = df['CP Plan?'].str.lower()

# This has got a bit more complicated, we've used a lambda function to change
# value sbased on other values
print(df)
df['CP Plan?'] = df['CP Plan?'].apply(lambda x: 'y' if 'y' in x else 'n' if 'n' in x else pd.NA) 

df = df.fillna(pd.NA) 
# .fillna() can be used to fill empty rows with whatever we want. standard would be
# pd.NA which pandas understands as NAs
# Note, this hasn't worked for our empty value in gender as an empty
# string is still a string!
print(df)

df = df.replace(r'^\s*$', pd.NA, regex=True) 
# The easiest way to fill it is replacing the regex expression for an empty string with an na
# We can see in the table below we have a NaN, an <NA>, and an NaT, these are the
# Not a Number, Empty, and Not a Time NAs for each data type.

In [ ]:
# In this cell use the .str.lower() method to make all the names in the employee names
# column lower case
# You now need to make two new columns, one for first and one for last name.
# We are going to do this by learning a new skill:
# Getting other people to write the code for us!
# Use this stack overflow link to learn how to split columns in pandas: 
# https://stackoverflow.com/questions/38437847/pandas-split-name-column-into-first-and-last-name-if-contains-one-space

In [ ]:
# Lets say we have another child
new_child = {
            'ChildId':['id8'],
             'Age':[10],
             'Gender':['m'],
             'Birthday':[pd.to_datetime('05/12/1993')],
             'NHS Number': '666',
             }

print(new_child)
df = pd.concat([df, pd.DataFrame(new_child)], ignore_index=True)
# this has allowed us to add a new child, and has also added a new column to include the new data
print(df) 
print(df.dtypes)

In [ ]:
# In this cell, make a dataframe for a new employee, with all the same columns as before,
# and an extra 'employee ID' column.
# Use the pd.concat() method to join it to your employees dataframe.

In [ ]:
nhs_numbers = pd.DataFrame([
                            {'ChildId':'id1',
                            'NHS Number': '303',},
                            {'ChildId':'id2',
                            'NHS Number': '3u5029',},
                            {'ChildId':'id3',
                            'NHS Number': 'gqw3',},
                            {'ChildId':'id4',
                            'NHS Number': 'avsgvb',},
                            {'ChildId':'id5',
                            'NHS Number': 'varwvw',},
                            ])

df = pd.merge(df, nhs_numbers, how='left', on='ChildId')
df['NHS Number_x'] = df['NHS Number_x'].fillna(df['NHS Number_y'])
print(df)
df.drop('NHS Number_y', axis=1, inplace=True)
df.rename({'NHS Number_x': 'NHS Number'}, axis=1, inplace=True)
print(df)

In [ ]:
# Make a new dataframe of your employees names and some employee IDs, then merge 
# it with your big dataframe, and use the drop, fillna, and rename methods to clean it up.
# To finish off, make a new dataframe with every employee from your large employees 
# dataframe with a column for their employee IDs, and a new column for their managers. 
# Merge this to the bigger dataframe and print it to see that merging doesn't always need
# any clean up!

## Group work for session 2
There is a csv of house price data in the UK from 1980-2023 here: https://raw.githubusercontent.com/data-to-insight/D2I-Jupyter-Notebook-Tools/main/ERN-worksheets/data/1980%202023%20average%20house%20prices.csv

This is real data taken from the ONS website, but stored on GitHub for ease of accessibility.

As a group, use google to work out how to read data from a url into pandas, and do so, naming the dataframe variable appropriately.
Convert date columns to datetime type.
Find the year with the highest and lowest house prices.
Find the year with the largest percentage increase in house prices.
Slice the dataframe to return only rows where the average house price is over 200,000.
Slice the dataframe to return only rows where the average house price in that year is over the median house price for all the data.

Now for the hard bit once again: work out how to plot the average house price against the time period as a line plot, using a library called seaborn.
You will need to import seaborn as sns (just as we import pandas as pd).
A good place to start is google, and the seaborn documentation: https://seaborn.pydata.org/generated/seaborn.lineplot.html