In [1]:
from sqlalchemy import (create_engine, 
                        inspect, 
                        text, 
                        select, 
                        MetaData, 
                        Table, 
                        and_,
                        or_,
                        desc,
                        asc,
                        func,
                        )

In [10]:
# dialect+driver:////username:password@host:port/database

# "postgresql+psycopg2://will1:willspassword@postgresql.uk.amazonaws:8000/childrens_services"

chinook_engine = create_engine("sqlite+pysqlite://///workspaces/ERN-sessions/SQL learning/chinook.db")

# with engine.connect() as con:
inspection = inspect(chinook_engine)
inspection.get_table_names()

['albums',
 'artists',
 'customers',
 'employees',
 'genres',
 'invoice_items',
 'invoices',
 'media_types',
 'playlist_track',
 'playlists',
 'tracks']

In [6]:
# make an engine to connect to gravity.db, find the table names
gravity_engine = create_engine("sqlite+pysqlite:////workspaces/ERN-sessions/SQL learning/gravity.db")
inspect(gravity_engine).get_table_names()

['address',
 'address_status',
 'author',
 'book',
 'book_author',
 'book_language',
 'country',
 'cust_order',
 'customer',
 'customer_address',
 'order_history',
 'order_line',
 'order_status',
 'publisher',
 'shipping_method']

In [14]:
chinook_metadata = MetaData()

tracks = Table('tracks', chinook_metadata, autoload_with=chinook_engine)

# print(tracks.c.keys())
repr(tracks)

"Table('tracks', MetaData(), Column('TrackId', INTEGER(), table=<tracks>, primary_key=True, nullable=False), Column('Name', NVARCHAR(length=200), table=<tracks>, nullable=False), Column('AlbumId', INTEGER(), ForeignKey('albums.AlbumId'), table=<tracks>), Column('MediaTypeId', INTEGER(), ForeignKey('media_types.MediaTypeId'), table=<tracks>, nullable=False), Column('GenreId', INTEGER(), ForeignKey('genres.GenreId'), table=<tracks>), Column('Composer', NVARCHAR(length=220), table=<tracks>), Column('Milliseconds', INTEGER(), table=<tracks>, nullable=False), Column('Bytes', INTEGER(), table=<tracks>), Column('UnitPrice', NUMERIC(precision=10, scale=2), table=<tracks>, nullable=False), schema=None)"

In [21]:
gravity_metadata = MetaData()

books = Table('book', gravity_metadata, autoload_with=gravity_engine)
books.c.keys()

['book_id',
 'title',
 'isbn13',
 'language_id',
 'num_pages',
 'publication_date',
 'publisher_id']

In [18]:
import pandas as pd

with chinook_engine.connect() as con:
    stmt = "SELECT * FROM tracks"
    result_proxy = con.execute(text(stmt))
    results = result_proxy.fetchmany(size=20)

df = pd.DataFrame(results)
df

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
...,...,...,...,...,...,...,...,...,...
3498,3499,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,343,2,24,None,286741,4718950,0.99
3499,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99
3500,3501,"L'orfeo, Act 3, Sinfonia (Orchestra)",345,2,24,Claudio Monteverdi,66639,1189062,0.99
3501,3502,"Quintet for Horn, Violin, 2 Violas, and Cello ...",346,2,24,Wolfgang Amadeus Mozart,221331,3665114,0.99
3502,3503,Koyaanisqatsi,347,2,10,Philip Glass,206005,3305164,0.99

In [23]:
with gravity_engine.connect() as con:
    stmt = 'SELECT * FROM book'
    result_proxy = con.execute(text(stmt))
    result = result_proxy.fetchmany(size=20)

books_df = pd.DataFrame(result)

books_df

,book_id,title,isbn13,language_id,num_pages,publication_date,publisher_id
0,1,The World's First Love: Mary Mother of God,8987059752,2,276,1996-09-01,1010
1,2,The Illuminati,20049130001,1,352,2004-10-04,1967
2,3,The Servant Leader,23755004321,1,128,2003-03-11,1967
3,4,What Life Was Like in the Jewel in the Crown: ...,34406054602,1,168,1999-09-01,1978
4,5,Cliffs Notes on Aristophanes' Lysistrata The ...,49086007763,1,80,1983-12-29,416
5,6,Life Is a Dream and Other Spanish Classics (Er...,73999140774,1,298,2000-04-01,96
6,7,William Goldman: Four Screenplays,73999254907,2,504,2000-05-01,95
7,8,The Season: A Candid Look at Broadway,73999768442,1,448,2004-07-01,1136
8,9,The Beatles Complete - Updated Edition,73999960822,1,303,1986-12-01,835
9,10,Working Effectively with Legacy Code,76092025986,1,464,2004-09-01,1591
10,11,The Complete Anne of Green Gables Boxed Set (A...,76783609419,1,2088,1998-10-06,1891
11,12,Plants Bite Back! (DK Readers),635517047547,1,48,1999-10-25,567
12,13,The Book of Awakening: Having the Life You Wan...,645241001173,1,438,2000-05-31,435
13,14,Risotto: 30 Simply Delicious Vegetarian Recipe...,694055000612,1,64,2001-03-01,1739
14,15,PrÃ©tear Vol. 3 (PrÃ©tear #3),702727014581,1,172,2004-10-12,35
15,16,The Mystery in the Rocky Mountains,710430023622,1,145,2001-04-01,354
16,17,The Mystery on the Mighty Mississippi,710430023639,1,142,2001-04-01,354
17,18,Programming in C,752063326664,1,576,2004-07-08,1749
18,19,PHP and MySQL Web Development (Developer's Lib...,752063326725,2,1008,2004-10-01,1749
19,20,Manhunt Official Strategy Guide,752073003227,1,175,2003-11-25,313

In [27]:
with chinook_engine.connect() as con:
    stmt = select(tracks)
    # print(stmt)
    result_proxy = con.execute(stmt)
    results = result_proxy.fetchmany(10)

tracks_df = pd.DataFrame(results)
tracks_df

# select every column from books table using the select() funciton
# fetch the first 10 rows, turn it into a df,
# have a look at it

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
5,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99
6,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99
7,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99
8,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99
9,10,Evil Walks,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263497,8611245,0.99

In [28]:
with gravity_engine.connect() as con:
    stmt = select(books)
    result_proxy = con.execute(stmt)
    result = result_proxy.fetchmany(10)

books_df = pd.DataFrame(result)

books_df

,book_id,title,isbn13,language_id,num_pages,publication_date,publisher_id
0,1,The World's First Love: Mary Mother of God,8987059752,2,276,1996-09-01,1010
1,2,The Illuminati,20049130001,1,352,2004-10-04,1967
2,3,The Servant Leader,23755004321,1,128,2003-03-11,1967
3,4,What Life Was Like in the Jewel in the Crown: ...,34406054602,1,168,1999-09-01,1978
4,5,Cliffs Notes on Aristophanes' Lysistrata The ...,49086007763,1,80,1983-12-29,416
5,6,Life Is a Dream and Other Spanish Classics (Er...,73999140774,1,298,2000-04-01,96
6,7,William Goldman: Four Screenplays,73999254907,2,504,2000-05-01,95
7,8,The Season: A Candid Look at Broadway,73999768442,1,448,2004-07-01,1136
8,9,The Beatles Complete - Updated Edition,73999960822,1,303,1986-12-01,835
9,10,Working Effectively with Legacy Code,76092025986,1,464,2004-09-01,1591

In [35]:
# and_ or_

with chinook_engine.connect() as con:
    stmt = select(tracks).where(or_(tracks.columns.AlbumId == 1,
                                    tracks.columns.AlbumId == 2))
    result_proxy = con.execute(stmt)
    result = result_proxy.fetchall()

album_id_12 = pd.DataFrame(result)
album_id_12

# the rows from the books table where the titles are 'Working Effectively with Legacy Code' and "The Basic Works of Aristotle"

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,6,Put The Finger On You,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205662,6713451,0.99
2,7,Let's Get It Up,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",233926,7636561,0.99
3,8,Inject The Venom,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",210834,6852860,0.99
4,9,Snowballed,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",203102,6599424,0.99
5,10,Evil Walks,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263497,8611245,0.99
6,11,C.O.D.,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",199836,6566314,0.99
7,12,Breaking The Rules,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",263288,8596840,0.99
8,13,Night Of The Long Knives,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",205688,6706347,0.99
9,14,Spellbound,1,1,1,"Angus Young, Malcolm Young, Brian Johnson",270863,8817038,0.99
10,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99

In [36]:
with gravity_engine.connect() as con:
    stmt = select(books).where(or_(books.columns.title == 'Working Effectively with Legacy Code',
                                   books.columns.title == 'The Basic Works of Aristotle'))
    result_proxy = con.execute(stmt)
    result = result_proxy.fetchall()

result

[(10, 'Working Effectively with Legacy Code', '76092025986', 1, 464, datetime.date(2004, 9, 1), 1591),
 (3216, 'The Basic Works of Aristotle', '9780375757990', 1, 1487, datetime.date(2009, 8, 19), 1282)]

In [42]:
# ordering a table in our SQL stament
# preforming functions in our SQL statements

with chinook_engine.connect() as con:
    stmt = select(tracks).order_by(tracks.columns.AlbumId.desc(),
                                   tracks.columns.Milliseconds.asc())
    result_proxy = con.execute(stmt)
    result = result_proxy.fetchmany(size=20)

tracks_by_length = pd.DataFrame(result)
tracks_by_length

# query the books table to get the ten longest books

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,3503,Koyaanisqatsi,347,2,10,Philip Glass,206005,3305164,0.99
1,3502,"Quintet for Horn, Violin, 2 Violas, and Cello ...",346,2,24,Wolfgang Amadeus Mozart,221331,3665114,0.99
2,3501,"L'orfeo, Act 3, Sinfonia (Orchestra)",345,2,24,Claudio Monteverdi,66639,1189062,0.99
3,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99
4,3499,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,343,2,24,None,286741,4718950,0.99
5,3498,"Concerto for Violin, Strings and Continuo in G...",342,4,24,Pietro Antonio Locatelli,493573,16454937,0.99
6,3497,"Erlkonig, D.328",341,2,24,None,261849,4307907,0.99
7,3496,"Ã‰tude 1, In C Major - Preludio (Presto) - Liszt",340,4,24,None,51780,2229617,0.99
8,3495,"24 Caprices, Op. 1, No. 24, for Solo Violin, i...",339,2,24,NiccolÃ² Paganini,265541,4371533,0.99
9,3494,"Symphony No. 2, Op. 16 - ""The Four Temperamen...",338,2,24,Carl Nielsen,286998,4834785,0.99
10,3493,"Metopes, Op. 29: Calypso",337,2,24,Karol Szymanowski,333669,5548755,0.99
11,3491,Le Sacre Du Printemps: I.iv. Spring Rounds,336,2,24,Igor Stravinsky,234746,4072205,0.99
12,3490,"Partita in E Major, BWV 1006A: I. Prelude",335,2,24,Johann Sebastian Bach,285673,4744929,0.99
13,3489,Symphony No. 2: III. Allegro vivace,334,2,24,Kurt Weill,376510,6129146,0.99
14,3488,"Music for the Funeral of Queen Mary: VI. ""Thou...",333,2,24,Henry Purcell,142081,2365930,0.99
15,3487,"3 GymnopÃ©dies: No.1 - Lent Et Grave, No.3 - Le...",332,2,24,Erik Satie,385506,6458501,0.99
16,3486,"Act IV, Symphony",331,2,24,Henry Purcell,364296,5987695,0.99
17,3485,Symphony No. 3 Op. 36 for Orchestra and Sopran...,330,2,24,Henryk GÃ³recki,567494,9273123,0.99
18,3484,Adios nonino,329,2,24,Astor Piazzolla,289388,4781384,0.99
19,3483,"Concert pour 4 Parties de V**les, H. 545: I. P...",328,2,24,Marc-Antoine Charpentier,110266,1973559,0.99

In [43]:
with gravity_engine.connect() as con:
    stmt = select(books).order_by(books.columns.num_pages.desc())
    result_proxy = con.execute(stmt)
    result = result_proxy.fetchmany(10)

long_books = pd.DataFrame(result)
long_books

,book_id,title,isbn13,language_id,num_pages,publication_date,publisher_id
0,3564,The Complete Aubrey/Maturin Novels (5 Volumes),9780393060119,1,6576,2004-10-17,2143
1,3749,The Second World War,9780395416853,1,4736,1986-05-09,1212
2,6460,Remembrance of Things Past (Boxed Set),9780701125592,1,3400,1981-03-05,380
3,4138,Harry Potter Collection (Harry Potter #1-6),9780439827607,1,3342,2005-09-12,1763
4,8297,Summa Theologica 5 Vols,9780870610639,1,3020,1981-01-01,394
5,796,Harrison's Principles of Internal Medicine,9780071391405,1,2751,2004-07-27,1235
6,4121,Harry Potter Boxed Set Books 1-5 (Harry Potte...,9780439682589,1,2690,2004-09-13,1763
7,7960,The Sword of Truth Boxed Set I: Wizard's Firs...,9780812575606,2,2480,1998-11-15,2000
8,5713,The J.R.R. Tolkien Companion and Guide,9780618391134,1,2264,2006-11-02,987
9,2212,Study Bible: NIV,9780310929550,1,2198,2002-10-01,2251

In [49]:
with chinook_engine.connect() as con:
    stmt = select(func.sum(tracks.columns.Milliseconds))
    result = con.execute(stmt).scalar()
print(result)

with gravity_engine.connect() as con:
    stmt = select(func.sum(books.columns.num_pages))
    result = con.execute(stmt).scalar()
print(result)

1378778040
3741853