In [8]:
def fn(param_1):
    x = 1
    print(param_1)

fn('Hi')

Hi

In [16]:
def fxy(x, y=9):
    print(x)
    print(y)
    print(f'The sum of {x} and {y} is {x + y}.')

fxy(y=13, x=22)

22
13
The sum of 22 and 13 is 35.

In [25]:
# Now it's your go. Write a function, with an appropriate name
# that divides one number by the other. Bonus points if you can make the function 
# always divide the largest of the two numbers by the smallest.
# Get the function to print the answer

def div_xy(x, y):
    if x >= y:
        z = x / y
    else:
        z = y / x
    return z


answer = div_xy(y=10, x=5)

print(answer)

2.0

In [30]:
def sum_prod(num1, num2):
    sum_12 = num1 + num2
    prod_12 = num1 * num2 

    return sum_12, prod_12

sum_30_70, prod_30_70 = sum_prod(30, 70)

print(prod_30_70)

2100

In [32]:
def sum_prod(num1, num2):
    sum_12 = num1 + num2
    prod_12 = num1 * num2 

    return sum_12, prod_12

answer = sum_prod(30, 70)

print(answer[1])

2100

In [35]:
# write a function that returns x / y and x - y, 
# always dividing the biggest by the smallest number 
#  and always taking the smallest fromt he biggest

def minus_div(x, y):
    if x >= y:
        big = x
        small = y
    else:
        big = y
        small = x
    return big / small, big - small

x_div_y, x_minus_y = minus_div(5, 10)

print(x_div_y)
print(x_minus_y)

2.0
5

In [42]:
def sq(x):
    return x**2

def x_power_x(x):
    return x**x

def big_maths(x, y=None):
    if y == None:
        y = x
    return sq(x), x_power_x(y)

print(big_maths(3, 5))

(9, 3125)

In [44]:
# In this cell, first, import the 'math' module.
# Next, write a function that squares a number (hint: you can simply uses x*x), 
# Now write a function that uses math.sqrt() to find the square root of a number 
# (hint: https://docs.python.org/3/library/math.html#math.sqrt)
# Then, write a funciton that performs both of these functions and returns both answers,
# Finally, call the function getting two variables as your answer, and print them.

import math 

def sq(x):
    return x**2

def root_fn(x):
    return math.sqrt(x)

def root_sqr_x(x):
    return sq(x), root_fn(x)

print(root_sqr_x(9))

(81, 3.0)

In [45]:
import pandas as pd

In [49]:
df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv')

def ethnic_check(ethnicity_code):
    if 'W' in ethnicity_code:
        return 'White or Mixed White'
    else:
        return 'Not white'

df['background'] = df['Ethnicity'].apply(ethnic_check)

df

'''
'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv'
write a function that calculates ages based on the data, and returns a new column in age range buckets
0-5, 6-11, 12-17, 18+

convert that to a datetime
find the difference between the datetime and today
if else statements to put that difference in time in a bucket
return as a string the appropriate buckets to a nerw column

'''

     Unnamed: 0        LAchildID Ethnicity            background
0             0  RND000215205141      WIRT  White or Mixed White
1             1  RND000824303014      WROM  White or Mixed White
2             2  RND000750143123      AOTH             Not white
3             3  RND000909164501      MWBC  White or Mixed White
4             4  RND000382171815      APKN             Not white
..          ...              ...       ...                   ...
327         327  RND000112711501      WOTH  White or Mixed White
328         328  RND000513120794      WROM  White or Mixed White
329         329  RND000541643134      BCRB             Not white
330         330  RND000404939452      AIND             Not white
331         331  RND000589802835      WBRI  White or Mixed White

[332 rows x 4 columns]

In [98]:
df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv')


def bucket_maker(date_code):
    bday = pd.to_datetime(date_code, format="%Y-%m-%d")
    today = pd.to_datetime('today')

    if bday + pd.DateOffset(years=6) > today:
        return '0-5 years'
    elif bday + pd.DateOffset(years=12) > today:
        return '6-11 years'
    elif bday + pd.DateOffset(years=18) > today:
        return '12-17 years'
    else:
        return '18+'
    


df['Age Bucket'] = df['PersonBirthDate'].apply(bucket_maker)

df[['PersonBirthDate', 'Age Bucket']]

    PersonBirthDate   Age Bucket
0        2019-12-06    0-5 years
1        2011-04-27  12-17 years
2        2017-06-06   6-11 years
3        2014-10-03   6-11 years
4        2019-09-25    0-5 years
..              ...          ...
327      2010-07-07  12-17 years
328      2018-08-14    0-5 years
329      2021-12-09    0-5 years
330      2013-07-23   6-11 years
331      2021-10-25    0-5 years

[332 rows x 2 columns]