In [8]:
def sum_function(x, y):
    '''
    Finds the sum of two numbers, prints the result.

    Args:
        x: The first number to sum.
        y: The second number to sum.
    
    Returns:
        N/A
    '''
    print(x)
    print(y)

    print(f'The sum of x: {x}, and the sum of y: {y} is: {x + y}')

# comments as you go
sum_function(10, 5)

10
7
The sum of x: 10, and the sum of y: 7 is: 17

In [12]:
# Now it's your go. Write a function, with an appropriate name
# that divides one number by the other. Bonus points if you can make the function 
# always divide the largest of the two numbers by the smallest.
# Get the function to print the answer


def divide_fn(x, y):
    
    if x >= y:
        z = x / y
        print(z)

    else:
        z = y / x
        print(z)

divide_fn(5, 5)

1.0

In [24]:
def sum_prod(x, y):
    sum_xy = x + y
    prod_xy = x * y

    return sum_xy, prod_xy

x_plus_y, x_times_y = sum_prod(5, 5)

print(x_plus_y)
print(x_times_y)

# write a function that returns x / y and x - y, 
# # always dividing the biggest by the smallest number 
# # and always taking the smallest fromt he biggest

25
10

In [25]:
def minus_divide(x,y):
    if x >= y:
        big = x
        small = y
    else:
        big = y
        small = x
    subtract = big - small
    division = big / small

    return subtract, division

sub, div = minus_divide(70, 100)

print(sub, div)

30 1.4285714285714286

In [28]:
def square_x(x):
    return x ** 2

def x_power_x(x):
    return x ** x


def big_maths(x):
    sq = square_x(x)
    x_p_x = x_power_x(x)    

    return sq, x_p_x

print(big_maths(50))

(2500, 8881784197001252323389053344726562500000000000000000000000000000000000000000000000000)

In [30]:
def prod_xy(x, y):
    return x * y

def sum_xy(x, y):
    return x + y


def prod_sum(x, y, i=None, j=None):
    if i == None:
        i = x
    if j == None:
        j = y

    return prod_xy(x, y), sum_xy(i, j)


print(prod_sum(5, 10, 7, 14))

(50, 21)

In [31]:

# In this cell, first, import the 'math' module.
# Next, write a function that squares a number (hint: you can simply uses x*x), 
# Now write a function that uses math.sqrt() to find the square root of a number 
# (hint: https://docs.python.org/3/library/math.html#math.sqrt)
# Then, write a funciton that performs both of these functions and returns both answers,
# Finally, call the function getting two variables as your answer, and print them.

import math 

def sq_x(x):
    return x ** 2

def sqrt_x(x):
    return math.sqrt(x)

def fx(x):
    return sq_x(x), sqrt_x(x)

print(fx(9))

(81, 3.0)

In [37]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv')


def ethnic_check(row):
    if row in ['WIRT', 'WIRI', 'WBRI', 'WROM', 'WOTH']:
        return 'white'
    else:
        return 'non-white'
    
df['white'] = df['Ethnicity'].apply(ethnic_check)    

df

'''
'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv'
write a function that calculates ages based on the data, and returns a new column in age range buckets
0-5, 6-11, 12-17, 18+

convert that to a datetime
find the difference between the datetime and today
if else statements to put that difference in time in a bucket
return as a string the appropriate buckets to a nerw column

'''

     Unnamed: 0        LAchildID Ethnicity      white
0             0  RND000215205141      WIRT      white
1             1  RND000824303014      WROM      white
2             2  RND000750143123      AOTH  non-white
3             3  RND000909164501      MWBC  non-white
4             4  RND000382171815      APKN  non-white
..          ...              ...       ...        ...
327         327  RND000112711501      WOTH      white
328         328  RND000513120794      WROM      white
329         329  RND000541643134      BCRB  non-white
330         330  RND000404939452      AIND  non-white
331         331  RND000589802835      WBRI      white

[332 rows x 4 columns]

In [49]:
import numpy as np 

df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv')

def age_bucket(date):
    bd = pd.to_datetime(date, format="%Y-%m-%d")

    age = pd.to_datetime('today') - bd

    age = age / pd.Timedelta(365.25, 'd')

    if age < 6:
        return '0 - 5 years old'
    elif age < 12:
        return '6 - 11 years old'
    elif age < 18:
        return '12 - 17 years old'
    else:
        return '18+ years old'
    
df['Age bucket'] = df['PersonBirthDate'].apply(age_bucket)

df[['PersonBirthDate', 'Age bucket']]

    PersonBirthDate         Age bucket
0        2019-12-06    0 - 5 years old
1        2011-04-27  12 - 17 years old
2        2017-06-06   6 - 11 years old
3        2014-10-03   6 - 11 years old
4        2019-09-25    0 - 5 years old
..              ...                ...
327      2010-07-07  12 - 17 years old
328      2018-08-14    0 - 5 years old
329      2021-12-09    0 - 5 years old
330      2013-07-23   6 - 11 years old
331      2021-10-25    0 - 5 years old

[332 rows x 2 columns]