In [7]:
list_of_numbers = list(range(1,11))

for number in list_of_numbers:
    x = number + 1
    print(x)

2
3
4
5
6
7
8
9
10
11

In [23]:
names = ['Scout', 'Crash', 'Napkin', 'Socks']

for i, name in enumerate(names):
    names[i] = f"My pet's name is {name}"


    
numbers = list(range(1,11))

for i, number in enumerate(numbers):
    numbers[i] = number**2
    
print(numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
pets_dictionary = {'Scout':'Dog',
                   'Crash':'Dog',
                   'Napkin':'Cat',
                   'Socks':'Cat'}

pets_list = []

for pet_name, animal_type in pets_dictionary.items():
    phrase = f'{pet_name} is a {animal_type}'
    pets_list.append(phrase)

['Scout is a Dog']
['Scout is a Dog', 'Crash is a Dog']
['Scout is a Dog', 'Crash is a Dog', 'Napkin is a Cat']
['Scout is a Dog', 'Crash is a Dog', 'Napkin is a Cat', 'Socks is a Cat']

In [41]:
restaurants = {'Nandos':'Chicken',
               'KFC':'Chicken',
               'CHicken Cottage':'Chicken',
               'Pizza Hut':'Pizza'}

rest_items = restaurants.items()

rest_phrase = []

for k,v in rest_items:
    rest_phrase.append(f'{k} sells {v} food.')

print(rest_phrase)

['Nandos sells Chicken food.', 'KFC sells Chicken food.', 'CHicken Cottage sells Chicken food.', 'Pizza Hut sells Pizza food.']

In [55]:
import pandas as pd

df_1 = pd.DataFrame({'col 1': ['foo', 'bar', 'baz'],
                     'col 2': [1, 2, 3]})

df_2 = pd.DataFrame({'col 1': ['Thing 1', 'Thing 2', 'Thing 3'],
                     'col 2': ['Green eggs', 'Ham', 'Sam I am']})

# df_dict = {'df_1':df_1,
#            'df_2':df_2}

# for row in df_1.index:
#     df_1['col 2'][row] = df_1['col 2'][row]**2
    



# df_1['col 2'] = df_1['col 2']**2
# print(df_1)   

df_1['col 2'] = df_1['col 2'].apply(lambda x: 'even' if x % 2 == 0 else 'odd')
print(df_1)

  col 1 col 2
0   foo   odd
1   bar  even
2   baz   odd

In [61]:
big_list = list(range(1,101))
evens = big_list[1::2]
odds = big_list[::2]

for i in evens:
    for j in odds:
        k = i * j

spreads = ['butter', 'jam', 'peanut butter']
toppings = ['ham', 'cheese', 'sardines']
filling = []
 

for spread in spreads:
    for topping in toppings:
        filling.append(f'{topping} and {spread}')

print(filling)

['ham and butter', 'cheese and butter', 'sardines and butter', 'ham and jam', 'cheese and jam', 'sardines and jam', 'ham and peanut butter', 'cheese and peanut butter', 'sardines and peanut butter']

In [71]:


x = 1
number_list = []

for i in list(range(1,11)):
    number_list.append(x)
    x = (x + number_list[i-1])

df = pd.DataFrame({'numbers column':list(number_list)})

even_odd = []
for row in df.index:
    x = df['numbers column'][row]
    if x % 2 == 0:
        even_odd.append('even')
    else:
        even_odd.append('odd')

df['even or odd'] = even_odd

df

   numbers column even or odd
0               1         odd
1               2        even
2               4        even
3               8        even
4              16        even
5              32        even
6              64        even
7             128        even
8             256        even
9             512        even