In [1]:
import pandas as pd

ci_filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv"

cc_filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv"

identifiers = pd.read_csv(ci_filepath)

characteristics = pd.read_csv(cc_filepath)

In [2]:
# NaN not a number, NaT not a time, Na/pd.NA generic null
# identifiers.info()

# strftime formats
identifiers['PersonBirthDate_dt'] = pd.to_datetime(identifiers['PersonBirthDate'], format="%Y-%m-%d")

identifiers["ExpectedPersonBirthDate_dt"] = pd.to_datetime(identifiers['ExpectedPersonBirthDate'], format="%Y-%m-%d")

identifiers["PersonDeathDate_dt"] = pd.to_datetime(identifiers["PersonDeathDate"], format="%Y-%m-%d", errors="coerce")

identifiers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  332 non-null    int64
 1   LAchildID                   332 non-null    object
 2   UPN                         332 non-null    object
 3   FormerUPN                   0 non-null      float64
 4   UPNunknown                  0 non-null      float64
 5   PersonBirthDate             332 non-null    object
 6   ExpectedPersonBirthDate     7 non-null      object
 7   GenderCurrent               332 non-null    int64
 8   PersonDeathDate             21 non-null     object
 9   PersonBirthDate_dt          332 non-null    datetime64[ns]
 10  ExpectedPersonBirthDate_dt  7 non-null      datetime64[ns]
 11  PersonDeathDate_dt          20 non-null     datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(5)
memory usage: 31.3+ KB

In [3]:
from dateutil.relativedelta import relativedelta

# a dictionary of lists
child_info = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                           'Age at contact':[6, 12, 11, 1, 19],
                           'SEX':['M', 'm', 'F', '', 'F'],
                           'Birthday':['01/01/2002', '02/02/2003', '01/01/2000', '03/03/2023', '06/01/2012'],
                           'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})

nhs_numbers = pd.DataFrame([{'ChildId':'id1',
                             'NHS Number':'303'},
                             {'ChildId':'id2',
                              'NHS Number':'3u5029'},
                            {'ChildId':'id3',
                            'NHS Number': 'gqw3',},
                            {'ChildId':'id4',
                            'NHS Number': 'avsgvb',},
                            {'ChildId':'id5',
                            'NHS Number': 'varwvw',},
                             ])

child_info['Birthday_dt'] = pd.to_datetime(child_info['Birthday'], dayfirst=True, errors='coerce')

# child_info['age_delta'] = ((pd.to_datetime('today') - child_info['Birthday_dt']) / pd.Timedelta(365.25, 'D'))
# child_info['age_delta'] = child_info['age_delta'].astype('int', errors='ignore')

child_info['Age'] = child_info['Birthday_dt'].apply(lambda row: relativedelta(pd.to_datetime('today'), row).years)

child_info
# list of dictionaries

  ChildId  Age at contact SEX    Birthday CP Plan? Birthday_dt  Age
0     id1               6   M  01/01/2002        Y  2002-01-01   23
1     id2              12   m  02/02/2003        n  2003-02-02   22
2     id3              11   F  01/01/2000        N  2000-01-01   25
3     id4               1      03/03/2023       No  2023-03-03    2
4     id5              19   F  06/01/2012      yES  2012-01-06   13

In [4]:
identifiers['Age'] = identifiers['PersonBirthDate_dt'].apply(lambda x: relativedelta(pd.to_datetime('today'), x).years)

identifiers

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate,PersonBirthDate_dt,ExpectedPersonBirthDate_dt,PersonDeathDate_dt,Age
0,0,RND000215205141,A850728973744,NaN,NaN,2019-12-06,NaN,1,NaN,2019-12-06,NaT,NaT,5
1,1,RND000824303014,A141396438491,NaN,NaN,2011-04-27,NaN,9,NaN,2011-04-27,NaT,NaT,14
2,2,RND000750143123,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaN,2017-06-06,2019-12-06,NaT,8
3,3,RND000909164501,A612330267292,NaN,NaN,2014-10-03,NaN,0,NaN,2014-10-03,NaT,NaT,11
4,4,RND000382171815,A604459366806,NaN,NaN,2019-09-25,NaN,2,NaN,2019-09-25,NaT,NaT,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,327,RND000112711501,A465246916125,NaN,NaN,2010-07-07,NaN,2,NaN,2010-07-07,NaT,NaT,15
328,328,RND000513120794,A540014111973,NaN,NaN,2018-08-14,NaN,2,NaN,2018-08-14,NaT,NaT,7
329,329,RND000541643134,A549582689058,NaN,NaN,2021-12-09,NaN,51,NaN,2021-12-09,NaT,NaT,3
330,330,RND000404939452,A889492349196,NaN,NaN,2013-07-23,NaN,2,NaN,2013-07-23,NaT,NaT,12
331,331,RND000589802835,A877624860226,NaN,NaN,2021-10-25,NaN,9,NaN,2021-10-25,NaT,NaT,4

In [5]:
# pip install openpyxl
import openpyxl

filepath = r"https://github.com/data-to-insight/ERN-sessions/raw/main/data/small%20excel.xlsx"

# with an excel, if oyu're reading multiple sheets, they come stored in a dictionary
# with sheet names as keys and dfs as values
df_dict = pd.read_excel(filepath, sheet_name=None)

print(df_dict.keys())

df_dict['Child Data']

dict_keys(['Child Data', 'Child extras', 'Sheet3'])

  ChildID Sex        DOB EHCP issued
0     id1   M 2014-12-05           N
1     id6   m 2016-01-06           n
2     id4   m 2013-11-09           Y
3     id3   F 2022-12-24           Y
4     id5   F 2020-01-15         NaN
5     id7   f 2022-09-17           y

In [6]:
print(child_info.columns)

print(nhs_numbers.columns)

# if the columns names are the same for both tables you can simply use on='ChildID' rather than specifying a left and right on
# different types of merge, left, right, inner, outer
child_info = pd.merge(child_info, nhs_numbers, left_on='ChildId', right_on='ChildId', how='left')

child_info

Index(['ChildId', 'Age at contact', 'SEX', 'Birthday', 'CP Plan?',
       'Birthday_dt', 'Age'],
      dtype='object')
Index(['ChildId', 'NHS Number'], dtype='object')

  ChildId  Age at contact SEX    Birthday CP Plan? Birthday_dt  Age NHS Number
0     id1               6   M  01/01/2002        Y  2002-01-01   23        303
1     id2              12   m  02/02/2003        n  2003-02-02   22     3u5029
2     id3              11   F  01/01/2000        N  2000-01-01   25       gqw3
3     id4               1      03/03/2023       No  2023-03-03    2     avsgvb
4     id5              19   F  06/01/2012      yES  2012-01-06   13     varwvw

In [7]:
identifiers = identifiers.merge(characteristics, on=['LAchildID', 'Unnamed: 0'], how='left')

identifiers

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate,PersonBirthDate_dt,ExpectedPersonBirthDate_dt,PersonDeathDate_dt,Age,Ethnicity
0,0,RND000215205141,A850728973744,NaN,NaN,2019-12-06,NaN,1,NaN,2019-12-06,NaT,NaT,5,WIRT
1,1,RND000824303014,A141396438491,NaN,NaN,2011-04-27,NaN,9,NaN,2011-04-27,NaT,NaT,14,WROM
2,2,RND000750143123,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaN,2017-06-06,2019-12-06,NaT,8,AOTH
3,3,RND000909164501,A612330267292,NaN,NaN,2014-10-03,NaN,0,NaN,2014-10-03,NaT,NaT,11,MWBC
4,4,RND000382171815,A604459366806,NaN,NaN,2019-09-25,NaN,2,NaN,2019-09-25,NaT,NaT,6,APKN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,327,RND000112711501,A465246916125,NaN,NaN,2010-07-07,NaN,2,NaN,2010-07-07,NaT,NaT,15,WOTH
328,328,RND000513120794,A540014111973,NaN,NaN,2018-08-14,NaN,2,NaN,2018-08-14,NaT,NaT,7,WROM
329,329,RND000541643134,A549582689058,NaN,NaN,2021-12-09,NaN,51,NaN,2021-12-09,NaT,NaT,3,BCRB
330,330,RND000404939452,A889492349196,NaN,NaN,2013-07-23,NaN,2,NaN,2013-07-23,NaT,NaT,12,AIND
331,331,RND000589802835,A877624860226,NaN,NaN,2021-10-25,NaN,9,NaN,2021-10-25,NaT,NaT,4,WBRI

In [8]:
df = df_dict['Child Data'].merge(df_dict['Child extras'], how='left', on='ChildID')
df = df.merge(df_dict['Sheet3'], how='left', on='Assessment Code')

df

  ChildID Sex        DOB EHCP issued  Assessment Code Assessment Outcome
0     id1   M 2014-12-05           N                1                  Y
1     id6   m 2016-01-06           n                5                  y
2     id4   m 2013-11-09           Y                3                  N
3     id3   F 2022-12-24           Y                4                  n
4     id5   F 2020-01-15         NaN                2                  N
5     id7   f 2022-09-17           y                6                  N

In [14]:
# less than condition <
under_5_cond = child_info['Age'] < 5 

under_5_df = child_info[under_5_cond]

# ~ negation condition
over_5_df = child_info[~under_5_cond]

# 5 and under -> <=
ages_5_and_under_cond = child_info['Age'] <= 5
ages_5_and_under_df = child_info[ages_5_and_under_cond]

ages_5_and_under_df

  ChildId  Age at contact SEX    Birthday CP Plan? Birthday_dt  Age NHS Number
3     id4               1      03/03/2023       No  2023-03-03    2     avsgvb

In [ ]:
# | or, & and

over_5_cond = child_info['Age'] > 5
under_20_cond = child_info['Age'] < 20

between_5_20 = child_info[over_5_cond & under_20_cond]

not_between_5_20 = child_info[(child_info['Age'] < 5) | (child_info['Age'] > 20)]

  ChildId  Age at contact SEX    Birthday CP Plan? Birthday_dt  Age NHS Number
4     id5              19   F  06/01/2012      yES  2012-01-06   13     varwvw