In [2]:
# Variables
var_1 = "string" # str
var_2 = 10 # int
var_3 = 10.0 # float
var_4 = [10, 10.0] # list
var_5 = {"key_1":"value 1",
        "key_2":2} # dictionaries

print(var_5["key_1"])
print(var_5.items())
print(var_5.keys())
print(var_5.values())

value 1
dict_items([('key_1', 'value 1'), ('key_2', 2)])
dict_keys(['key_1', 'key_2'])
dict_values(['value 1', 2])

In [3]:
# pandas
import pandas as pd #import with alias

filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/1980%202023%20average%20house%20prices.csv"

house_prices = pd.read_csv(filepath)

# if reading an excel pd.read_excel()

# house_prices

print(house_prices.info())
print(house_prices.head())
print(house_prices.tail())

type(house_prices) # DataFrames/df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523 entries, 0 to 522
Data columns (total 6 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Name                                            523 non-null    object
 1   Period                                          523 non-null    object
 2   House price index All property types            523 non-null    float64
 3   Average price All property types                523 non-null    int64
 4   Percentage change (monthly) All property types  523 non-null    float64
 5   Percentage change (yearly) All property types   523 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 24.6+ KB
None
             Name   Period  House price index All property types  \
0  United Kingdom  1980-01                                 10.11
1  United Kingdom  1980-02                                 10.11
2  United Kingdom  1980-03                                 10.11
3  United Kingdom  1980-04                                 10.51
4  United Kingdom  1980-05                                 10.51

   Average price All property types  \
0                             19273
1                             19273
2                             19273
3                             20044
4                             20044

   Percentage change (monthly) All property types  \
0                                            3.94
1                                            3.94
2                                            3.94
3                                            4.00
4                                            4.00

   Percentage change (yearly) All property types
0                                          28.59
1                                          28.59
2                                          28.59
3                                          24.15
4                                          24.15
               Name   Period  House price index All property types  \
518  United Kingdom  2023-03                                 148.2
519  United Kingdom  2023-04                                 148.9
520  United Kingdom  2023-05                                 149.5
521  United Kingdom  2023-06                                 151.2
522  United Kingdom  2023-07                                 152.0

     Average price All property types  \
518                            282548
519                            283871
520                            285053
521                            288281
522                            289824

     Percentage change (monthly) All property types  \
518                                            -1.0
519                                             0.5
520                                             0.4
521                                             1.1
522                                             0.5

     Percentage change (yearly) All property types
518                                            3.2
519                                            2.5
520                                            1.6
521                                            1.9
522                                            0.6

pandas.core.frame.DataFrame

In [4]:
filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv"

ci = pd.read_csv(filepath)

print(ci.info())
print(ci.head())
print(ci.tail())

type(ci)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               332 non-null    int64
 1   LAchildID                332 non-null    object
 2   UPN                      332 non-null    object
 3   FormerUPN                0 non-null      float64
 4   UPNunknown               0 non-null      float64
 5   PersonBirthDate          332 non-null    object
 6   ExpectedPersonBirthDate  7 non-null      object
 7   GenderCurrent            332 non-null    int64
 8   PersonDeathDate          21 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 23.5+ KB
None
   Unnamed: 0        LAchildID            UPN  FormerUPN  UPNunknown  \
0           0  RND000215205141  A850728973744        NaN         NaN
1           1  RND000824303014  A141396438491        NaN         NaN
2           2  RND000750143123  A929946861554        NaN         NaN
3           3  RND000909164501  A612330267292        NaN         NaN
4           4  RND000382171815  A604459366806        NaN         NaN

  PersonBirthDate ExpectedPersonBirthDate  GenderCurrent PersonDeathDate
0      2019-12-06                     NaN              1             NaN
1      2011-04-27                     NaN              9             NaN
2      2017-06-06              2019-12-06              1             NaN
3      2014-10-03                     NaN              0             NaN
4      2019-09-25                     NaN              2             NaN
     Unnamed: 0        LAchildID            UPN  FormerUPN  UPNunknown  \
327         327  RND000112711501  A465246916125        NaN         NaN
328         328  RND000513120794  A540014111973        NaN         NaN
329         329  RND000541643134  A549582689058        NaN         NaN
330         330  RND000404939452  A889492349196        NaN         NaN
331         331  RND000589802835  A877624860226        NaN         NaN

    PersonBirthDate ExpectedPersonBirthDate  GenderCurrent PersonDeathDate
327      2010-07-07                     NaN              2             NaN
328      2018-08-14                     NaN              2             NaN
329      2021-12-09                     NaN             51             NaN
330      2013-07-23                     NaN              2             NaN
331      2021-10-25                     NaN              9             NaN

pandas.core.frame.DataFrame

In [5]:
# datetime objects
# format argument for datetimes strfstimes
house_prices["Period_dt"] = pd.to_datetime(house_prices["Period"], format="%Y-%m")

house_prices["Period_dt"].info() # check type has changed

house_prices["Period_dt"]
# 01/01/2025 %d/%m%Y
# 01/01/25 %d/%m/%y

# 30-12-2025 %d-%m-%Y
# 30122025 %d%m%Y

<class 'pandas.core.series.Series'>
RangeIndex: 523 entries, 0 to 522
Series name: Period_dt
Non-Null Count  Dtype
--------------  -----
523 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 4.2 KB

0     1980-01-01
1     1980-02-01
2     1980-03-01
3     1980-04-01
4     1980-05-01
         ...
518   2023-03-01
519   2023-04-01
520   2023-05-01
521   2023-06-01
522   2023-07-01
Name: Period_dt, Length: 523, dtype: datetime64[ns]

In [6]:
ci["PersonBirthDate_dt"] = pd.to_datetime(ci["PersonBirthDate"], format="%Y-%m-%d")
ci["ExpectedPersonBirthDate_dt"] = pd.to_datetime(ci["ExpectedPersonBirthDate"], format="%Y-%m-%d")

ci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  332 non-null    int64
 1   LAchildID                   332 non-null    object
 2   UPN                         332 non-null    object
 3   FormerUPN                   0 non-null      float64
 4   UPNunknown                  0 non-null      float64
 5   PersonBirthDate             332 non-null    object
 6   ExpectedPersonBirthDate     7 non-null      object
 7   GenderCurrent               332 non-null    int64
 8   PersonDeathDate             21 non-null     object
 9   PersonBirthDate_dt          332 non-null    datetime64[ns]
 10  ExpectedPersonBirthDate_dt  7 non-null      datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(2), object(5)
memory usage: 28.7+ KB

In [8]:
# sum, mean, median, min, max

house_prices_monthly_change_sum = house_prices["Percentage change (monthly) All property types"].sum()
print(f"The sum of percentage changes in house prices across all months is {house_prices_monthly_change_sum}")

max_price = house_prices["Average price All property types"].max()
min_price = house_prices["Average price All property types"].min()

print(f"Max price: {max_price}, \nMin price: {min_price}")

median_price = house_prices["Average price All property types"].median()
mean_price = house_prices["Average price All property types"].mean()

print(f"Median price: {median_price}, \nMean price: {mean_price}")

condition = house_prices["Average price All property types"] < mean_price

less_than_mean = house_prices[condition]

less_than_mean
# calculate total change in house price over time

The sum of percentage changes in house prices across all months is 623.29
Max price: 292187,
Min price: 19273
Median price: 97964.0,
Mean price: 120570.55831739961

,Name,Period,House price index All property types,Average price All property types,Percentage change (monthly) All property types,Percentage change (yearly) All property types,Period_dt
0,United Kingdom,1980-01,10.11,19273,3.94,28.59,1980-01-01
1,United Kingdom,1980-02,10.11,19273,3.94,28.59,1980-02-01
2,United Kingdom,1980-03,10.11,19273,3.94,28.59,1980-03-01
3,United Kingdom,1980-04,10.51,20044,4.00,24.15,1980-04-01
4,United Kingdom,1980-05,10.51,20044,4.00,24.15,1980-05-01
...,...,...,...,...,...,...,...
269,United Kingdom,2002-06,59.43,113304,4.09,17.41,2002-06-01
270,United Kingdom,2002-07,59.90,114214,0.80,14.25,2002-07-01
271,United Kingdom,2002-08,61.23,116743,2.21,16.78,2002-08-01
272,United Kingdom,2002-09,62.72,119576,2.43,19.61,2002-09-01
273,United Kingdom,2002-10,63.19,120486,0.76,22.99,2002-10-01

In [ ]:
ci["PersonBirthDate_dt"]

collection_end = pd.to_datetime("31/03/2026", format="%d/%m/%Y")

ci["age_delta"] = collection_end - ci["PersonBirthDate_dt"]

ci["age_delta"] = ci["age_delta"] / pd.Timedelta(365.25, "d")

ci["age_delta"] = ci["age_delta"].astype("int")

ci["age_delta"]

0       6
1      14
2       8
3      11
4       6
       ..
327    15
328     7
329     4
330    12
331     4
Name: age_delta, Length: 332, dtype: int64

In [18]:
print(ci["age_delta"].min())
print(ci["age_delta"].max())
print(ci["age_delta"].median())
print(ci["age_delta"].mean())
print(ci["age_delta"].sum())

3
21
12.0
12.289156626506024
4080