In [7]:
def fn(phrase):
    print(phrase)

fn(phrase='Hello, World!')
fn(phrase='Hi!')
fn(phrase='phrase')

print('Hello, World!')

Hello, World!
Hi!
phrase
Hello, World!

In [ ]:
def fxy(x=90, y=10):
    print(f'The sum of {x} and {y} is {x + y}')

# print(f'The sum of 7 and 9 is {7 + 9}')
# print(f'The sum of 13 and 22 is {13 + 22}')

fxy(x=7, y=9)
fxy(x=13, y=22)
fxy(9, 11) # you don't need to give parameter names if they are given in order
fxy() # you can have and can use defaults
fxy(y=9)


# Now it's your go. Write a function, with an appropriate name
# that divides one number by the other. Bonus points if you can make the function 
# always divide the largest of the two numbers by the smallest.
# Get the function to print the answer

The sum of 7 and 9 is 16
The sum of 13 and 22 is 35
The sum of 9 and 11 is 20
The sum of 90 and 10 is 100
The sum of 90 and 9 is 99

In [17]:
# Now it's your go. Write a function, with an appropriate name
# that divides one number by the other. Bonus points if you can make the function 
# always divide the largest of the two numbers by the smallest.
# Get the function to print the answer

def div_xy(x, y):
    if x >= y:
        print(x/y)
    else:
        print(y/x)

div_xy(5, 10)

2.0

In [23]:
def div_xy_return(x, y):
    if x >= y:
        z = x/y
    else:
        z = y/x
    return z

var = div_xy_return(99, 12)
var

8.25

In [ ]:
def sum_prod(num1, num2):
    sum = num1 + num2
    prod = num1 * num2

    return sum, prod

sum_ans, prod_ans = sum_prod(99, 7575)

print(sum_ans)
print(prod_ans)

# write a function that returns x / y and x - y, 
# always dividing the biggest by the smallest number 
# and always taking the smallest fromt he biggest

7674
749925

In [30]:

# write a function that returns x / y and x - y, 
# always dividing the biggest by the smallest number 
# and always taking the smallest fromt he biggest

def minus_div(x, y):
    if x >= y:
        big = x
        small = y
    else:
        big = y
        small = x
    return big / small, big - small

minus_div(y = 100, x = 10)

(10.0, 90)

In [33]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv')

df

def ethnic_check(row):
    if row[0] == "W":
        return 'Yes'
    else:
        return 'No'
    
df['Is white'] = df['Ethnicity'].apply(ethnic_check)

df

     Unnamed: 0        LAchildID Ethnicity Is white
0             0  RND000215205141      WIRT      Yes
1             1  RND000824303014      WROM      Yes
2             2  RND000750143123      AOTH       No
3             3  RND000909164501      MWBC       No
4             4  RND000382171815      APKN       No
..          ...              ...       ...      ...
327         327  RND000112711501      WOTH      Yes
328         328  RND000513120794      WROM      Yes
329         329  RND000541643134      BCRB       No
330         330  RND000404939452      AIND       No
331         331  RND000589802835      WBRI      Yes

[332 rows x 4 columns]

In [37]:
import numpy as np
# 'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv'
# write a function that calculates ages based on the data, and returns a new column in age range buckets
# 0-5, 6-11, 12-17, 18+

# import data
# write functions
# using conditionals
# chaqnge to date
# calculation on df columns
# making new column

df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv')

def age_buckets(row):
    bday = pd.to_datetime(row, format="%Y-%m-%d")
    today = pd.to_datetime('today')

    # age = (today - bday)/pd.Timedelta(365.25, 'D')

    if bday + pd.DateOffset(years=6) > today:
        return '0-5 years'
    elif bday + pd.DateOffset(years=12) > today:
        return '6-11 years'
    elif bday + pd.DateOffset(years=18) > today:
        return '12-17 years'
    else:
        return '18+'
        
df['Age Bucket'] = df['PersonBirthDate'].apply(age_buckets)

df[['PersonBirthDate', 'Age Bucket']]

    PersonBirthDate   Age Bucket
0        2019-12-06   6-11 years
1        2011-04-27  12-17 years
2        2017-06-06   6-11 years
3        2014-10-03   6-11 years
4        2019-09-25   6-11 years
..              ...          ...
327      2010-07-07  12-17 years
328      2018-08-14   6-11 years
329      2021-12-09    0-5 years
330      2013-07-23  12-17 years
331      2021-10-25    0-5 years

[332 rows x 2 columns]