In [9]:
x = 10
y = 20
z = x + y
print(z)

30

In [20]:
x = "Will isn't young really"
y = "Will isn't young"
z = 10.0

print(x + y)

Will isn't young reallyWill isn't young

In [25]:
# In this cell, initialise two numeric variables and find their product using the 
# * operator for multiplication and assign this to a new variable.
# Print the new variable

# The radius of a circle is 2, assume that Pi is 3.14. Assign both of these to suitably named variables and find the area of the circle.
# We can find the area of a circle by finding the product of Pi with the radius squared.
# You probably don't know how to square a number in Python yet, so use Google to work it out!#

num_1 = 2
num_2 = 6
prod_num_1_2 = num_1 * num_2
print(prod_num_1_2)

radius = 2
pi = 3.14

radius_squared = radius ** 2
circle_area = radius_squared * pi
print(circle_area)

12
12.56

In [34]:
name = "Will"
hobby = "Running"

name_hobby = "My name is " + name + ", and I like " + hobby + "."
print(name_hobby)

phrase = f"My name is {name}, and I like {hobby}."
print(phrase)

My name is Will, and I like Running.
My name is Will, and I like Running.

In [ ]:
# In this cell, initialise two appropriately named variables, one for your name and one for your job title.
# Next, combine them in an f string, assigned to a different, appropriately named variable.
# Finally, print the f string.

In [35]:
name = "Will"
job_title = "teacher"
longer_phrase = f"My name is {name}, and my job title is {job_title}."
print(longer_phrase)

My name is Will, and my job title is teacher.

In [39]:
x = 5
print(x)
x = 6 + x
print(x)
x = 5
print(x)

5
11
5

In [42]:
x = 10
y = 20
print(x + y) # plus
print( x - y)# minus
print(x * y) # times
print(x / y) # divide 
print (x ** y)# power of

measure = 123
pop = 30000
rate = measure / pop
rp10k = rate * 10000
print(rp10k)

pct = rate * 100
print(pct)

30
-10
200
0.5
100000000000000000000
41.0
0.41000000000000003

In [68]:
my_string = "c://data/cin_dataset_202324.csv"
# print(my_string)

# In python counting starts at 0
# in a range, the second number is not inclusive, it's EXCLUSIVE
new_string = my_string[:12]
print(new_string)

filename = my_string[9:]
print(filename)

short_fn = filename[:-4]
print(short_fn)

filetype = my_string[-4:]
print(filetype)

# [start:stop:step]
weird_string = my_string[::2]
print(weird_string)

reverse = my_string[-1::-1]
print(reverse)

slice_this_phrase = "dog cat racoon"

# use string slices to isolate each sting as animal_1, animal_2, animal_3
animal_1 = slice_this_phrase[:3]
print(animal_1)

animal_2 = slice_this_phrase[4:7]
print(animal_2)

animal_3 = slice_this_phrase[-6:]
print(animal_3)

c://data/cin
cin_dataset_202324.csv
cin_dataset_202324
.csv
c/dt/i_aae_034cv
vsc.423202_tesatad_nic/atad//:c
dog
cat
racoon

In [70]:
list_1 = []
print(type(list_1))

x = 1
y = 2.0 
z = "three"
list_1 = ["purple", "red"]

list_2 = [x, y, z, list_1]
print(list_2)

<class 'list'>
[1, 2.0, 'three', ['purple', 'red']]

In [87]:
colours = ['red', 'blue', 'green']
print(colours)

new_list = colours.append('purple')
print(colours)

# new_list
# print(colours)

['red', 'blue', 'green']
['red', 'blue', 'green', 'purple']

In [94]:
colours = ['red', 'blue', 'green']
colours.append(['orange', 'turquoise'])
print(colours[3])
print(colours)

more_colours = ['teal', 'white', 'red']
colours.extend(more_colours)
colours.remove('red')
print(colours)
print(colours[3:5])

['orange', 'turquoise']
['red', 'blue', 'green', ['orange', 'turquoise']]
['blue', 'green', ['orange', 'turquoise'], 'teal', 'white', 'red']
['teal', 'white']

In [ ]:
# In this cell, make a list of a few foods and print it.
# Then append the list with another food and print it.
# Next, make another list of foods, and use the extend method to add those extra foods 
# as individual elements of the list, and print it.
# Finally, remove and element from the list and print the final list.
# Remember to always use a suitable name for your lists!

In [4]:
num_1 = 1
num_2 = 1.0
my_name = "Will"
num_1 = float(1)
# print(num_1)

list_1 = ["element_1", "element_2", num_1, 1]

thing_1 = list_1[1]
print(thing_1)

element_2

In [12]:
list_2 = list(range(11))
# [start:stop:step]
list_slice = list_2[0::2]
# print(list_2)
# print(list_slice)
list_slice = list_2[1::2]
print(list_slice)

[1, 3, 5, 7, 9]

In [24]:
dict_1 = {'Person 1':"Will", 
          "Person 2":"Basset",
          "Person 3": "Lowke"}

dict_2 = {'Will':'teal',
          'Andy':['Purple', 'Green', 'Taupe'],
          'Naiomi':{'Monday':'Red',
                    'Sunday': 'Orange',
                    'Others':'Black'}}

print(dict_2)
print(list(dict_2))
print(dict_2.keys())
print(dict_2.values())
print(dict_2.items())

wills_colour = dict_2['Will']
print(wills_colour)

teal

In [32]:
# In this cell, make a dicitonary of some restaurants and the foods they sell, 
# print the items, keys, and values, have at least one have the value as a list.

restaurants  = {'McDonalds':'Burger',
                'KFC':'Chicken wings'}

# print(restaurants['McDonalds'])

restaurants['Pizza Place'] = ['Pizza', 'Pasta']

restaurants['McDonalds'] = 'Hamburger'

print("McDonalds" in restaurants)
print("French food" in restaurants)

True
False

In [29]:
empty_dict = {}
empty_dict['thing 1'] = 1
print(empty_dict)

{'thing 1': 1}

In [37]:
num_list = [1, 3, 6, 2, 6, 4, 7, 8, 3, 6]
print(num_list)

num_list.sort()
print(num_list)
num_list.reverse()
print(num_list)

num_list = [1, 3, 6, 2, 6, 4, 7, 8, 3, 6]
num_list.sort(reverse=True)
print(num_list)

[1, 3, 6, 2, 6, 4, 7, 8, 3, 6]
[1, 2, 3, 3, 4, 6, 6, 6, 7, 8]
[8, 7, 6, 6, 6, 4, 3, 3, 2, 1]
[8, 7, 6, 6, 6, 4, 3, 3, 2, 1]

In [39]:
import pandas as pd 

filepath = 'https://raw.githubusercontent.com/data-to-insight/csc-validator-be-903/main/tests/fake_data/header.csv'

header_903 = pd.read_csv(filepath)
print(header_903)

       CHILD  SEX         DOB ETHNIC            UPN  MOTHER MC_DOB
0     566910    2  27/03/2008   WROM  D051910639385     NaN    NaN
1     384923    2  09/09/2011   REFU  L034811502612     NaN    NaN
2     709901    1  14/02/2013   ABAN  Y021751958510     NaN    NaN
3     550084    2  04/05/2008   AOTH  R095578985099     NaN    NaN
4     710229    2  15/04/2002   REFU  Z095096287583     NaN    NaN
...      ...  ...         ...    ...            ...     ...    ...
2670  152113    1  06/06/2003   WBRI  K096794376750     NaN    NaN
2671  481370    2  12/02/2008   BAFR  C014150452081     NaN    NaN
2672  791577    1  28/05/2011   WBRI  Q009369089812     NaN    NaN
2673  238470    1  21/11/2013   AIND  P095222532769     NaN    NaN
2674  437361    1  15/12/2012   WROM  G018001328504     NaN    NaN

[2675 rows x 7 columns]

In [51]:
dict_of_list = {'Column 1':[1, 2, 3],
                'Column 2':['foo', 'bar', 'baz'],
                'Column 3':['A', 'B', 'C']}

# print(dict_of_list)

df_1 = pd.DataFrame(dict_of_list)
print(df_1['Column 1'].to_list())
print(df_1['Column 2'])
print(df_1[['Column 1', 'Column 3']])

[1, 2, 3]
0    foo
1    bar
2    baz
Name: Column 2, dtype: object
   Column 1 Column 3
0         1        A
1         2        B
2         3        C

In [56]:
import pandas as pd 
list_of_dicts = [{'col 1':1,
                  'col 2':'foo',
                  'col 3':'A'},
                  {'col 1':2,
                  'col 2':'bar',
                  'col 3':'B'},
                  {'col 1':3,
                  'col 2':'baz',
                  'col 3':'C'}]

df_2 = pd.DataFrame(list_of_dicts)
print(df_2)

# Make sure you have pandas imported as pd.
# Using dictionaries and the pd.DataFrame method (remember the capitals) make a dataframe of a 
# few employees at an imaginary company with the columns: name, salary, and job title.
# Name the dataframe something sensible.
# For a later exercise, ensure every employess has a first and last name seperated by a space.
# Print it!

staff_df = pd.DataFrame(
            [{'Name':'Will Levack-Payne',
            'Salary':10,
            'Job Title':'Teacher'},
            {'Name':'Andy Levack-Payne',
            'Salary':5,
            'Job Title':'Retired'},
            {'Name':'Annie Levack-Payne',
            'Salary':9,
            'Job Title':'Teacher'},
            {'Name':'Naiomi Levack-Payne',
            'Salary':100,
            'Job Title':'Something in the NHS'},
            ])
print(staff_df)

   col 1 col 2 col 3
0      1   foo     A
1      2   bar     B
2      3   baz     C
                  Name  Salary             Job Title
0    Will Levack-Payne      10               Teacher
1    Andy Levack-Payne       5               Retired
2   Annie Levack-Payne       9               Teacher
3  Naiomi Levack-Payne     100  Something in the NHS

In [58]:
print(header_903.info())
print(header_903.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2675 entries, 0 to 2674
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CHILD   2675 non-null   int64
 1   SEX     2675 non-null   int64
 2   DOB     2675 non-null   object
 3   ETHNIC  2675 non-null   object
 4   UPN     2675 non-null   object
 5   MOTHER  1 non-null      float64
 6   MC_DOB  1 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 146.4+ KB
None
CHILD       int64
SEX         int64
DOB        object
ETHNIC     object
UPN        object
MOTHER    float64
MC_DOB     object
dtype: object

In [61]:
print(header_903.head())
print(header_903.tail(10))

    CHILD  SEX         DOB ETHNIC            UPN  MOTHER MC_DOB
0  566910    2  27/03/2008   WROM  D051910639385     NaN    NaN
1  384923    2  09/09/2011   REFU  L034811502612     NaN    NaN
2  709901    1  14/02/2013   ABAN  Y021751958510     NaN    NaN
3  550084    2  04/05/2008   AOTH  R095578985099     NaN    NaN
4  710229    2  15/04/2002   REFU  Z095096287583     NaN    NaN
       CHILD  SEX         DOB ETHNIC            UPN  MOTHER MC_DOB
2665  199656    1  08/07/2009   WOTH  G006043737339     NaN    NaN
2666  587124    1  14/10/2006   AOTH  X013739746473     NaN    NaN
2667  558581    1  05/07/2001   MWBC  S048947751783     NaN    NaN
2668  937984    2  08/05/2008   WROM  B072095547455     NaN    NaN
2669  942735    2  27/10/2010   BCRB  V010957149459     NaN    NaN
2670  152113    1  06/06/2003   WBRI  K096794376750     NaN    NaN
2671  481370    2  12/02/2008   BAFR  C014150452081     NaN    NaN
2672  791577    1  28/05/2011   WBRI  Q009369089812     NaN    NaN
2673  238470    1  21/11/2013   AIND  P095222532769     NaN    NaN
2674  437361    1  15/12/2012   WROM  G018001328504     NaN    NaN

In [67]:
# print(header_903['MOTHER'].unique())

salary_sum = staff_df['Salary'].sum()
print(salary_sum)

salary_mean = staff_df['Salary'].mean()
salary_min = staff_df['Salary'].min() #alsoa  .max()
print(f'The mean salary is {salary_mean}, the min salary is {salary_min}')

124
The mean salary is 31.0, the min salary is 5