An engine is an interface to the database from SQLAlchemy Connection string is details needed to find the database (including login where needed) SQLite is a database driver

Creating an engine we use the form: "dialect+driver://username:password@host:port/database" eg, this is an example for pstgreSQl

'postgresql+psycopg2://student:datacamp@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/census'

In [52]:
#pip install sqlalchemy

from sqlalchemy import (create_engine, 
                        inspect, 
                        text, 
                        select, 
                        MetaData, 
                        Table, 
                        and_,
                        or_,
                        desc,
                        asc,
                        func,
                        )

# we need to use //// in this instance as we are giving a relative absolute path to wher eour DB file is
engine = create_engine("sqlite+pysqlite:////workspaces/ERN-sessions/SQL in python/chinook.db") #, echo=True)
# We cans et echo=True if we want to see what our DB connections are doing

connection = engine.connect()
inspection = inspect(engine)
inspection.get_table_names()

['albums',
 'artists',
 'customers',
 'employees',
 'genres',
 'invoice_items',
 'invoices',
 'media_types',
 'playlist_track',
 'playlists',
 'tracks']

In [21]:
# An exercise for you, connect to, and find the table names of, the gravity db.

gravity_engine = create_engine("sqlite+pysqlite://///workspaces/ERN-sessions/SQL in python/gravity.db")
gravity_connection = gravity_engine.connect()
gravity_inspection = inspect(gravity_engine)
gravity_inspection.get_table_names()

['address',
 'address_status',
 'author',
 'book',
 'book_author',
 'book_language',
 'country',
 'cust_order',
 'customer',
 'customer_address',
 'order_history',
 'order_line',
 'order_status',
 'publisher',
 'shipping_method']

In [18]:
# This is called 'Reflecting' and is used to reflect data from an already existing db, rather than make it,
# it takes information about the data in the table from the DB (metadata) and uses it to make tables
# to reflect a table initialise a MetaData object, if you came to the ML sessions we talked about classes before,
# This is a bit like making an empty table so you can put data in it later, and it'll put the right stuff in!

# https://docs.sqlalchemy.org/en/20/core/reflection.html

metadata = MetaData() 

# if we print it we can see it's empty!
print(metadata.tables.keys())

tracks = Table('tracks', metadata, autoload_with=engine)
print(tracks.name) #prints table name
print(tracks.c.keys())
print(repr(tracks)) # repr() function lets us vierw the details of our table, like .info() for a df

dict_keys([])
tracks
['TrackId', 'Name', 'AlbumId', 'MediaTypeId', 'GenreId', 'Composer', 'Milliseconds', 'Bytes', 'UnitPrice']
Table('tracks', MetaData(), Column('TrackId', INTEGER(), table=<tracks>, primary_key=True, nullable=False), Column('Name', NVARCHAR(length=200), table=<tracks>, nullable=False), Column('AlbumId', INTEGER(), ForeignKey('albums.AlbumId'), table=<tracks>), Column('MediaTypeId', INTEGER(), ForeignKey('media_types.MediaTypeId'), table=<tracks>, nullable=False), Column('GenreId', INTEGER(), ForeignKey('genres.GenreId'), table=<tracks>), Column('Composer', NVARCHAR(length=220), table=<tracks>), Column('Milliseconds', INTEGER(), table=<tracks>, nullable=False), Column('Bytes', INTEGER(), table=<tracks>), Column('UnitPrice', NUMERIC(precision=10, scale=2), table=<tracks>, nullable=False), schema=None)

In [57]:
# Now do the same for the gravity db
gravity_metadata = MetaData() 

print(gravity_metadata.tables.keys())
books = Table('book', gravity_metadata, autoload_with=gravity_engine)
print(books.name)
print(books.c.keys())
print(repr(books))

dict_keys([])
book
['book_id', 'title', 'isbn13', 'language_id', 'num_pages', 'publication_date', 'publisher_id']
Table('book', MetaData(), Column('book_id', INTEGER(), table=<book>, primary_key=True), Column('title', TEXT(), table=<book>), Column('isbn13', TEXT(), table=<book>), Column('language_id', INTEGER(), ForeignKey('book_language.language_id'), table=<book>), Column('num_pages', INTEGER(), table=<book>), Column('publication_date', DATE(), table=<book>), Column('publisher_id', INTEGER(), ForeignKey('publisher.publisher_id'), table=<book>), schema=None)

In [24]:
# In Python with is a bit like a for or an if, it does stuff in indented blocks, it lets you temporarily initialise a variable
# it's also really good for if you have a resource you don't want to use all the time (like a db connection or file stream),
# because it'll only be being used during the block

with engine.connect() as con:
    stmt = "SELECT * FROM tracks" # normal sql theory for querying, it's easier to do it in a Python way, as seen later
    result_proxy = con.execute(text(stmt)) # this is done to say how much data we want
    results = result_proxy.fetchall() # contains actual data
first_row = results[0]
print(first_row) # prints first row
print(first_row.Name) # prints Name column of first row

(1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, 0.99)
For Those About To Rock (We Salute You)

In [27]:
# Find the first row of the book table, print it, then print the value of the 'title'

with gravity_engine.connect() as con:
    stmt = "SELECT * FROM book"
    result_proxy = con.execute(text(stmt))
    results = result_proxy.fetchall()
first_row = results[0]
print(first_row)
print(first_row.title)

(1, "The World's First Love: Mary  Mother of God", '8987059752', 2, 276, '1996-09-01', 1010)
The World's First Love: Mary  Mother of God

In [29]:
# we can also use Python to make selections, rather than SQL 
# we use the reflection of the tracks table we made earlier

with engine.connect() as con:
    stmt = select(tracks) # Pythonic select statement
    print(stmt) # See how it converts it to SQL
    result_proxy = con.execute(stmt) # this is done to say how much data we want
    results = result_proxy.fetchmany(size=10) # fetches first ten results
print(results)

SELECT tracks."TrackId", tracks."Name", tracks."AlbumId", tracks."MediaTypeId", tracks."GenreId", tracks."Composer", tracks."Milliseconds", tracks."Bytes", tracks."UnitPrice"
FROM tracks
[(1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, Decimal('0.99')), (2, 'Balls to the Wall', 2, 2, 1, None, 342562, 5510424, Decimal('0.99')), (3, 'Fast As a Shark', 3, 2, 1, 'F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman', 230619, 3990994, Decimal('0.99')), (4, 'Restless and Wild', 3, 2, 1, 'F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. Dirkscneider & W. Hoffman', 252051, 4331779, Decimal('0.99')), (5, 'Princess of the Dawn', 3, 2, 1, 'Deaffy & R.A. Smith-Diesel', 375418, 6290521, Decimal('0.99')), (6, 'Put The Finger On You', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 205662, 6713451, Decimal('0.99')), (7, "Let's Get It Up", 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 233926, 7636561, Decimal('0.99')), (8, 'Inject The Venom', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 210834, 6852860, Decimal('0.99')), (9, 'Snowballed', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 203102, 6599424, Decimal('0.99')), (10, 'Evil Walks', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 263497, 8611245, Decimal('0.99'))]

In [30]:
# Now do the same for the gravity db (using the books reflection we made with the metadata earlier)

with gravity_engine.connect() as con:
    stmt = select(books) # Pythonic select statement
    print(stmt) # See how it converts it to SQL
    result_proxy = con.execute(stmt) # this is done to say how much data we want
    results = result_proxy.fetchmany(size=10) # fetches first ten results
print(results)

SELECT book.book_id, book.title, book.isbn13, book.language_id, book.num_pages, book.publication_date, book.publisher_id
FROM book
[(1, "The World's First Love: Mary  Mother of God", '8987059752', 2, 276, datetime.date(1996, 9, 1), 1010), (2, 'The Illuminati', '20049130001', 1, 352, datetime.date(2004, 10, 4), 1967), (3, 'The Servant Leader', '23755004321', 1, 128, datetime.date(2003, 3, 11), 1967), (4, 'What Life Was Like in the Jewel in the Crown: British India  AD 1600-1905', '34406054602', 1, 168, datetime.date(1999, 9, 1), 1978), (5, "Cliffs Notes on Aristophanes' Lysistrata  The Birds  The Clouds  The Frogs", '49086007763', 1, 80, datetime.date(1983, 12, 29), 416), (6, "Life Is a Dream and Other Spanish Classics (Eric Bentley's Dramatic Repertoire) - Volume II", '73999140774', 1, 298, datetime.date(2000, 4, 1), 96), (7, 'William Goldman: Four Screenplays', '73999254907', 2, 504, datetime.date(2000, 5, 1), 95), (8, 'The Season: A Candid Look at Broadway', '73999768442', 1, 448, datetime.date(2004, 7, 1), 1136), (9, 'The Beatles Complete - Updated Edition', '73999960822', 1, 303, datetime.date(1986, 12, 1), 835), (10, 'Working Effectively with Legacy Code', '76092025986', 1, 464, datetime.date(2004, 9, 1), 1591)]

In [32]:
# We can make more complex queries too, like we would using SQL or pandas.
# NOTE to differentiate these conjuenctions form the build in Python ones 
# they finish with an underscore. If they didn't, Pyhton would be trying to
# use the build in ones to a weird effect. If ever I talk about namespace, this is one reason why.

from sqlalchemy import or_

with engine.connect() as con:
    # Selecting all tracks where the album ID column is 1 or 2 (Third column)
    stmt = select(tracks).where(or_(tracks.columns.AlbumId == 1, 
                                      tracks.columns.AlbumId == 2)) 
    result_proxy = con.execute(stmt)
    results = result_proxy.fetchmany(size=20) 
print(results)

[(1, 'For Those About To Rock (We Salute You)', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 343719, 11170334, Decimal('0.99')), (6, 'Put The Finger On You', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 205662, 6713451, Decimal('0.99')), (7, "Let's Get It Up", 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 233926, 7636561, Decimal('0.99')), (8, 'Inject The Venom', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 210834, 6852860, Decimal('0.99')), (9, 'Snowballed', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 203102, 6599424, Decimal('0.99')), (10, 'Evil Walks', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 263497, 8611245, Decimal('0.99')), (11, 'C.O.D.', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 199836, 6566314, Decimal('0.99')), (12, 'Breaking The Rules', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 263288, 8596840, Decimal('0.99')), (13, 'Night Of The Long Knives', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 205688, 6706347, Decimal('0.99')), (14, 'Spellbound', 1, 1, 1, 'Angus Young, Malcolm Young, Brian Johnson', 270863, 8817038, Decimal('0.99')), (2, 'Balls to the Wall', 2, 2, 1, None, 342562, 5510424, Decimal('0.99'))]

In [42]:
# Find rows for the books: 'Working Effectively with Legacy Code' and "The Basic Works of Aristotle"
# print the book_id of both

with gravity_engine.connect() as con:
    # Selecting all tracks where the album ID column is 1 or 2 (Third column)
    stmt = select(books).where(or_(books.columns.title == 'Working Effectively with Legacy Code', 
                                      books.columns.title == "The Basic Works of Aristotle")) 
    result_proxy = con.execute(stmt)
    results = result_proxy.fetchmany(size=20) 
print(results[1].book_id)

3216

In [61]:
# import pandas as pd

# with gravity_engine.connect() as con:
#     # Selecting all tracks where the album ID column is 1 or 2 (Third column)
#     stmt = select(books)
#     result_proxy = con.execute(stmt)
#     results = result_proxy.fetchall()
# print(results)

# df = pd.DataFrame(results)

# df[df['title'].str.lower().str.contains('aristotle')]

In [50]:
# Ordering results, use order_by(desc()),  (descending), order by multiple by passing multiple columns to sort by

# function
with engine.connect() as con:
    stmt = select(tracks).order_by(desc(tracks.columns.Composer))
    result_proxy = con.execute(stmt)
    results = result_proxy.fetchmany(size=10) 
print(results)

# object oriented, and ordeing by multiple columns, one desc, one asc
with engine.connect() as con:
    stmt = select(tracks).order_by(tracks.columns.Composer.desc(), tracks.columns.Name.asc())
    result_proxy = con.execute(stmt)
    results = result_proxy.fetchmany(size=10) 
print(results)

[(817, 'Lick It Up', 66, 1, 1, 'roger glover', 240274, 7792604, Decimal('0.99')), (819, 'Talk About Love', 66, 1, 1, 'roger glover', 247823, 8072171, Decimal('0.99')), (820, 'Time To Kill', 66, 1, 1, 'roger glover', 351033, 11354742, Decimal('0.99')), (821, 'Ramshackle Man', 66, 1, 1, 'roger glover', 334445, 10874679, Decimal('0.99')), (822, 'A Twist In The Tail', 66, 1, 1, 'roger glover', 257462, 8413103, Decimal('0.99')), (824, 'Solitaire', 66, 1, 1, 'roger glover', 282226, 9157021, Decimal('0.99')), (825, "One Man's Meat", 66, 1, 1, 'roger glover', 278804, 9068960, Decimal('0.99')), (1055, 'Loves Been Good To Me', 83, 1, 12, 'rod mckuen', 203964, 6645365, Decimal('0.99')), (1041, 'For Once In My Life', 83, 1, 12, 'orlando murden/ronald miller', 171154, 5557537, Decimal('0.99')), (1052, 'The Lady Is A Tramp', 83, 1, 12, 'lorenz hart/richard rodgers', 184111, 5987372, Decimal('0.99'))]
[(822, 'A Twist In The Tail', 66, 1, 1, 'roger glover', 257462, 8413103, Decimal('0.99')), (817, 'Lick It Up', 66, 1, 1, 'roger glover', 240274, 7792604, Decimal('0.99')), (825, "One Man's Meat", 66, 1, 1, 'roger glover', 278804, 9068960, Decimal('0.99')), (821, 'Ramshackle Man', 66, 1, 1, 'roger glover', 334445, 10874679, Decimal('0.99')), (824, 'Solitaire', 66, 1, 1, 'roger glover', 282226, 9157021, Decimal('0.99')), (819, 'Talk About Love', 66, 1, 1, 'roger glover', 247823, 8072171, Decimal('0.99')), (820, 'Time To Kill', 66, 1, 1, 'roger glover', 351033, 11354742, Decimal('0.99')), (1055, 'Loves Been Good To Me', 83, 1, 12, 'rod mckuen', 203964, 6645365, Decimal('0.99')), (1041, 'For Once In My Life', 83, 1, 12, 'orlando murden/ronald miller', 171154, 5557537, Decimal('0.99')), (1052, 'The Lady Is A Tramp', 83, 1, 12, 'lorenz hart/richard rodgers', 184111, 5987372, Decimal('0.99'))]

In [55]:
# query the books table to get the first ten books, ordered by publication date descending and number of pages ascending

with gravity_engine.connect() as con:
    stmt = select(books).order_by(books.columns.publication_date.desc(), books.columns.num_pages.asc())
    result_proxy = con.execute(stmt)
    results = result_proxy.fetchmany(size=10) 
print(results)

[(405, 'A Quick Bite (Argeneau #1)', '9780060773755', 1, 360, datetime.date(2020, 3, 31), 160), (5939, 'American Genesis: Captain John Smith and the Founding of Virginia', '9780673393555', 1, 224, datetime.date(2019, 8, 17), 1462), (654, 'The Art of Loving', '9780061129735', 1, 192, datetime.date(2019, 8, 6), 877), (6530, 'Object Thinking', '9780735619654', 1, 334, datetime.date(2019, 7, 23), 1257), (733, 'The Wish Giver: Three Tales of Coven Tree', '9780064401685', 1, 192, datetime.date(2019, 4, 2), 882), (752, 'Monster', '9780064407311', 1, 281, datetime.date(2019, 3, 5), 82), (10454, 'Enthusiasm and Divine Madness', '9781890318239', 1, 125, datetime.date(2019, 2, 11), 1876), (10183, 'The Perfume Factory', '9781790877799', 1, 227, datetime.date(2018, 12, 12), 1080), (715, 'El alquimista: una fábula para seguir tus sueños', '9780062511409', 1, 192, datetime.date(2018, 10, 23), 1664), (11084, 'El diablo de la botella', '9789580408550', 4, 77, datetime.date(2018, 7, 15), 817)]

In [59]:
# We can perform calculations using sqlalchemy, remember, always return a scalar not the function object!

# We can use .distinct to only return distinct elements from a column eg: 
# func.count(tracks.columns.AlbumId.distinct()) to count the total number of albums
with engine.connect() as con:
    stmt = select(func.sum(tracks.columns.Milliseconds)) #sums the miliseconds column
    results = con.execute(stmt).scalar() # we need to use .scalar() here or we'd return a function object
print(results)

1378778040

In [60]:
# find the total number of pages of all books in gravity

with gravity_engine.connect() as con:
    stmt = select(func.sum(books.columns.num_pages))
    results = con.execute(stmt).scalar() 
print(results)

3741853

## End of session 1