In [2]:
import pandas as pd

from sqlalchemy import (create_engine, 
                        inspect, 
                        text, 
                        select, 
                        MetaData, 
                        Table, 
                        and_,
                        or_,
                        desc,
                        asc,
                        func,
                        )


engine = create_engine("sqlite+pysqlite:////workspaces/ERN-sessions/SQL in python/chinook.db")

gravity_engine = create_engine("sqlite+pysqlite://///workspaces/ERN-sessions/SQL in python/gravity.db")

In [4]:
metadata = MetaData() 

tracks = Table('tracks', metadata, autoload_with=engine)
print(repr(tracks)) # repr() function lets us vierw the details of our table, like .info() for a df

with engine.connect() as con:
    stmt = select(tracks).order_by(tracks.columns.Composer)
    result_proxy = con.execute(stmt)
    results = result_proxy.fetchmany(size=10) 
print(results)

df=pd.DataFrame(results)
print(df.info())
print(df)

Table('tracks', MetaData(), Column('TrackId', INTEGER(), table=<tracks>, primary_key=True, nullable=False), Column('Name', NVARCHAR(length=200), table=<tracks>, nullable=False), Column('AlbumId', INTEGER(), ForeignKey('albums.AlbumId'), table=<tracks>), Column('MediaTypeId', INTEGER(), ForeignKey('media_types.MediaTypeId'), table=<tracks>, nullable=False), Column('GenreId', INTEGER(), ForeignKey('genres.GenreId'), table=<tracks>), Column('Composer', NVARCHAR(length=220), table=<tracks>), Column('Milliseconds', INTEGER(), table=<tracks>, nullable=False), Column('Bytes', INTEGER(), table=<tracks>), Column('UnitPrice', NUMERIC(precision=10, scale=2), table=<tracks>, nullable=False), schema=None)
[(2, 'Balls to the Wall', 2, 2, 1, None, 342562, 5510424, Decimal('0.99')), (63, 'Desafinado', 8, 1, 2, None, 185338, 5990473, Decimal('0.99')), (64, 'Garota De Ipanema', 8, 1, 2, None, 285048, 9348428, Decimal('0.99')), (65, 'Samba De Uma Nota Só (One Note Samba)', 8, 1, 2, None, 137273, 4535401, Decimal('0.99')), (66, 'Por Causa De Você', 8, 1, 2, None, 169900, 5536496, Decimal('0.99')), (67, 'Ligia', 8, 1, 2, None, 251977, 8226934, Decimal('0.99')), (68, 'Fotografia', 8, 1, 2, None, 129227, 4198774, Decimal('0.99')), (69, 'Dindi (Dindi)', 8, 1, 2, None, 253178, 8149148, Decimal('0.99')), (70, 'Se Todos Fossem Iguais A Você (Instrumental)', 8, 1, 2, None, 134948, 4393377, Decimal('0.99')), (71, 'Falando De Amor', 8, 1, 2, None, 219663, 7121735, Decimal('0.99'))]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TrackId       10 non-null     int64
 1   Name          10 non-null     object
 2   AlbumId       10 non-null     int64
 3   MediaTypeId   10 non-null     int64
 4   GenreId       10 non-null     int64
 5   Composer      0 non-null      object
 6   Milliseconds  10 non-null     int64
 7   Bytes         10 non-null     int64
 8   UnitPrice     10 non-null     object
dtypes: int64(6), object(3)
memory usage: 848.0+ bytes
None
   TrackId                                          Name  AlbumId  \
0        2                             Balls to the Wall        2
1       63                                    Desafinado        8
2       64                             Garota De Ipanema        8
3       65         Samba De Uma Nota Só (One Note Samba)        8
4       66                             Por Causa De Você        8
5       67                                         Ligia        8
6       68                                    Fotografia        8
7       69                                 Dindi (Dindi)        8
8       70  Se Todos Fossem Iguais A Você (Instrumental)        8
9       71                               Falando De Amor        8

   MediaTypeId  GenreId Composer  Milliseconds    Bytes UnitPrice
0            2        1     None        342562  5510424      0.99
1            1        2     None        185338  5990473      0.99
2            1        2     None        285048  9348428      0.99
3            1        2     None        137273  4535401      0.99
4            1        2     None        169900  5536496      0.99
5            1        2     None        251977  8226934      0.99
6            1        2     None        129227  4198774      0.99
7            1        2     None        253178  8149148      0.99
8            1        2     None        134948  4393377      0.99
9            1        2     None        219663  7121735      0.99

In [6]:
gravity_metadata = MetaData() 

books = Table('book', gravity_metadata, autoload_with=gravity_engine)
print(repr(books))

with gravity_engine.connect() as con:
    stmt = select(books).order_by(books.columns.title)
    result_proxy = con.execute(stmt)
    results = result_proxy.fetchmany(size=10) 
print(results)

df=pd.DataFrame(results)
print(df.info())
print(df)

Table('book', MetaData(), Column('book_id', INTEGER(), table=<book>, primary_key=True), Column('title', TEXT(), table=<book>), Column('isbn13', TEXT(), table=<book>), Column('language_id', INTEGER(), ForeignKey('book_language.language_id'), table=<book>), Column('num_pages', INTEGER(), table=<book>), Column('publication_date', DATE(), table=<book>), Column('publisher_id', INTEGER(), ForeignKey('publisher.publisher_id'), table=<book>), schema=None)
[(9940, '$30 Film School: How to Write  Direct  Produce  Shoot  Edit  Distribute  Tour With  and Sell Your Own No-Budget Digital Movie', '9781592000678', 1, 528, datetime.date(2003, 5, 13), 368), (7104, '1 000 Places to See Before You Die', '9780761104841', 1, 992, datetime.date(2003, 5, 22), 2224), (3938, '10 lb Penalty', '9780425197455', 1, 320, datetime.date(2004, 8, 3), 749), (3295, '100 Great Fantasy Short Short Stories', '9780380699179', 1, 395, datetime.date(1985, 8, 1), 160), (2068, '100 Love Sonnets', '9780292760288', 1, 232, datetime.date(1986, 1, 1), 2065), (8533, '100 Years of Lynchings', '9780933121188', 1, 270, datetime.date(1996, 11, 22), 265), (10866, '1000 Record Covers', '9783822840856', 6, 575, datetime.date(2005, 5, 15), 1929), (9656, '1000 Rings: Inspiring Adornments for the Hand', '9781579905088', 1, 416, datetime.date(2004, 8, 1), 1106), (4859, '1001 Illuminated Initial Letters: 27 Full-Color Plates', '9780486256078', 1, 32, datetime.date(1988, 4, 1), 582), (3359, '101 Stories of the Great Ballets: The Scene-by-Scene Stories of the Most Popular Ballets  Old and New', '9780385033985', 2, 560, datetime.date(1975, 5, 20), 86)]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   book_id           10 non-null     int64
 1   title             10 non-null     object
 2   isbn13            10 non-null     object
 3   language_id       10 non-null     int64
 4   num_pages         10 non-null     int64
 5   publication_date  10 non-null     object
 6   publisher_id      10 non-null     int64
dtypes: int64(4), object(3)
memory usage: 688.0+ bytes
None
   book_id                                              title         isbn13  \
0     9940  $30 Film School: How to Write  Direct  Produce...  9781592000678
1     7104                 1 000 Places to See Before You Die  9780761104841
2     3938                                      10 lb Penalty  9780425197455
3     3295              100 Great Fantasy Short Short Stories  9780380699179
4     2068                                   100 Love Sonnets  9780292760288
5     8533                             100 Years of Lynchings  9780933121188
6    10866                                 1000 Record Covers  9783822840856
7     9656      1000 Rings: Inspiring Adornments for the Hand  9781579905088
8     4859  1001 Illuminated Initial Letters: 27 Full-Colo...  9780486256078
9     3359  101 Stories of the Great Ballets: The Scene-by...  9780385033985

   language_id  num_pages publication_date  publisher_id
0            1        528       2003-05-13           368
1            1        992       2003-05-22          2224
2            1        320       2004-08-03           749
3            1        395       1985-08-01           160
4            1        232       1986-01-01          2065
5            1        270       1996-11-22           265
6            6        575       2005-05-15          1929
7            1        416       2004-08-01          1106
8            1         32       1988-04-01           582
9            2        560       1975-05-20            86